<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="Claude" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        @scripts()

        <title>
            Claude
        </title>

    </head>

    <body ng-app="app" class="tracking" ng-cloak>

        <md-toolbar md-scroll-shrink ng-show="false" class="ng-hide" id="playerContainer">
            <div class="md-toolbar-tools">
                <player id="player">
                    <player-control>
                        <prev>
                            <arrow></arrow>
                            <arrow></arrow>
                        </prev>
                        <play-pause class="play-button paused">
                            <div class="left"></div>
                            <div class="right"></div>
                            <div class="triangle-1"></div>
                            <div class="triangle-2"></div>
                        </play-pause>
                        <next>
                            <arrow></arrow>
                            <arrow></arrow>
                        </next>
                    </player-control>
                    <div class="time-container">
                        <current-time></current-time>
                        <duration></duration>
                    </div>
                    <artist-name flex="row"></artist-name>
                    <track-title flex="row"></track-title>
                    <audio class="width100p" id="musicPlayer"></audio>
                    <video width="0" height="0" id="videoPlayer" preload="true" autoplay>
                        <source type="video/youtube" src="" />
                    </video>
                </player>
            </div>
        </md-toolbar>

        <md-content>
            <cookies class="width100p float-left marginLeft10">

                {{ 'COOKIES' | translate }}

                <a href="#/cookies">
                {{ 'COOKIES_LINK' | translate }}
                </a>
                <i class="fa fa-times float-right marginRight20" >
                </i>
            </cookies>

            <div ng-view="" class="column large-12 padding0">
            </div>

            <div class="landing-page-footer">
            </div>

        </md-content>
        <contact-component>
        </contact-component>

        @playscalajs.html.scripts("client")

    </body>
</html>
