<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="Claude" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        @scripts()

        <title>Claude</title>

    </head>

    <body ng-app="app" class="tracking">

        <md-content>

            <div ng-view="" class="column large-12 padding0">
            </div>

            <div class="landing-page-footer">
            </div>

        </md-content>

        <contact-component>

        </contact-component>

        @playscalajs.html.scripts("client")

    </body>
</html>
