<style>
    tracking-view {
        height: 100%;
        overflow: auto;
        width: 100%;
        position: relative;
        float: left;
    }
    #cursor, #play, #sessionSelector {
        position: absolute;
        z-index: 999999;
    }
</style>
<tracking-view>
    <a class="md-button md-fab md-mini md-primary" data-ng-show="start" id="cursor"></a>
    <button id="play" data-ng-click="start = true; directive.play()">
        <i class="fa fa-play"></i>
    </button>
    <md-input-container id="sessionSelector" class="float-right">
        <label>Sessions</label>
        <md-select ng-model="selectedSession" ng-change="directive.setSession(selectedSession)">
            <md-option ng-repeat="session in directive.sessions" value="{{session.uuid}}">
                {{session.uuid}}
            </md-option>
        </md-select>
    </md-input-container>
    <div id="tracking-player" class="column padding0">
        <md-content>
            <div  data-ng-view="" id="tracking-player-container" class="column large-12 padding0 float-left height100p"></div>
        </md-content>
        <contact-component ng-include="'assets/templates/chatContact/contact-component.html'"></contact-component>
        <div class="landing-page-footer width100p">
        </div>
    </div>
</tracking-view>
