<div class="block_min">
    <div class="img_min">
        <div class="toGrow">
            <a href="#/organizers/{{organizer.organizerId}}">
                <img ng-src="{{ organizer.imagePath }}" alt="une belle image" class="min"
                     on-error-src="assets/images/caroussel1.gif"  ng-if="organizer.imagePath"/>
                <img src="assets/images/caroussel1.gif"
                     ng-if="organizer.imagePath == undefined" class="min"/>
            </a>
        </div>
        <a href="#/organizers/{{organizer.organizerId}}"><h3 class="minTitle">{{organizer.name}}</h3></a>
    </div>
</div>