@import '../componentsSettings/foundation';
@import 'tools';
@import '../../../client/src/main/scala/chatContact/contact';

body,
html {
  background-size: 100%;
  height: 100%;
  position: relative;
  width: 100%;
}

body,
html,
md-content {
  background-color: $primary-color;
  height: 100%;
  width: 100%;
}

h3 {
  color: $info-color;
  //font-family: "LLCircularWeb-Bold", sans-serif;
}

md-content {
  overflow-x: hidden !important;
}
