.idea
.idea_modules
.sass-cache/
bower_components/
dist/
logs/
node_modules/
projectFilesBackup*/*
project/project
RUNNING_PID
server/logs/application.log
server/public/templates
server/public/stylesheets/*.css
server/public/plugins
shared/project
shared/target
target
