logs
shared/.idea
shared/.idea/modules/
shared/project
server/public/stylesheets/main_scsslint*
.sass-cache/
shared/target
client/target
server/target
server/logs/application.log
node_modules
bower_components/
project/project
project/target
server/public/templates
server/public/stylesheets/*.css
target
tmp
public/bower_components
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
export-bin.sh
node_modules/*
.sbtserver/
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
server/public/templates
server/public/stylesheets/*.css
project/sbt-ui.sbt
projectFilesBackup*/*
projectFilesBackup/*
