<b ng-click="cancel()" class="close-modal textColorWhite"><i class="fi-x-circle"></i></b>
<div class="modal-body column large-12 padding0 paddingBottom10">
    <b class="button column"
       ng-class="{'medium-4': $root.connected == false, 'medium-3': $root.connected == true,
       'active': viewIssues == true}"
       ng-click="viewIssues = true; viewPlaylists = false; viewFavorites = false">
        <i class="fa fa-bug"></i>
        <b>FAQ/Bugs</b>
    </b>
    <b class="button column"
       ng-class="{'medium-4': $root.connected == false,
       'medium-3': $root.connected == true,
       'active': viewPlaylists == true
       }"
       ng-click="getPlaylists(); viewFavorites = false; viewIssues = false;
    viewPlaylists = true"><i class="fa fa-th-list"></i><b> playlists</b></b>
    <b class="button column"
       ng-class="{'medium-4': $root.connected == false, 'medium-3': $root.connected == true,
       'active': viewFavorites == true}"
       ng-click="getFavorites(); viewIssues = false; viewPlaylists = false;
    viewFavorites = true"><i class="fa fa-star"></i><b>Favoris</b></b>
    <b  ng-if="$root.connected == true" class="button column medium-3"
        ng-click="logout()"><i class="fa fa-sign-out"></i><b> Deconnexion</b></b>
    <div ng-if="viewPlaylists" class="column large-12">
        <h2 ng-show="suggeredPlaylists.length > 0">Les playlists de Claude</h2>
        <ul ng-repeat="playlist in suggeredPlaylists" class="column medium-6 margin0 float-left"
            style=" box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);">
            <div ng-if="playlist.tracks[0].thumbnailUrl != undefined"
                 class="img-circularPlayer"
                 style="background-image: url('{{playlist.tracks[0].thumbnailUrl}}');"
                 ng-class="{'padding0 margin0': $root.window == 'small'}">
                <i class="fi-play playInImg"
                   ng-click="$root.loadPlaylist(playlist)">
                    <md-track-tooltipe>
                        Lire la playlist
                    </md-track-tooltipe>
                </i>
            </div>
            <b>
                <a ng-click="$root.loadPlaylist(playlist)">
                    {{playlist.name}} ({{playlist.tracks.length}}) morceaux
                </a>
            </b>
        </ul>
        <h2 class="column large-12">Vos Playlists</h2>
        <b class="column large-12" ng-if="viewPlaylists && playlists.length == 0 && $root.connected == true">
            Vous n'avez pas de playlists
        </b>
        <b class="column large-12" ng-if="viewPlaylists && $root.connected == false">Vous devez vous connecter</b>
        <ul ng-repeat="playlist in playlists" class="column medium-6 margin0 float-left"
            style=" box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);" ng-if="$root.connected == true">
            <div ng-if="playlist.tracks[0].thumbnailUrl != undefined"
                 class="img-circularPlayer"
                 style="background-image: url('{{playlist.tracks[0].thumbnailUrl}}');"
                 ng-class="{'padding0 margin0': $root.window == 'small'}">
                <i class="fi-play playInImg"
                   ng-click="$root.loadPlaylist(playlist)">
                    <md-track-tooltipe>
                        Lire la playlist
                    </md-track-tooltipe>
                </i>
            </div>
            <b><a ng-click="$root.loadPlaylist(playlist)">{{playlist.name}} ({{playlist.tracks.length}}) morceaux</a></b>
            <a ng-click="confirmDelete = !confirmDelete" class="float-right">supprimer la playlist</a>
            <div class="column large-12" ng-show="confirmDelete">
                Etes vous sur de vouloir supprimer la playlist "{{playlist.name}}" ?
                <a class="button"
                   ng-click="deletePlaylist(playlist.playlistId, $index); confirmDelete = false">
                    Supprimer
                </a>
                <a class="button"
                   ng-click="confirmDelete = false">
                    Annuler
                </a>
            </div>
        </ul>
    </div>

    <div ng-if="viewFavorites">
        <div class="column large-12 float-left">
            <input type="text"
                   class="column medium-8"
                   placeholder="Filtrer"
                   ng-model="filterFavorites"/>
        </div>
        <md-content class="column">
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
                <md-tab label="Tracks">
                    <md-content>
                        <div class="column large-12"
                             ng-show="viewFavorites && $root.connected == true && favorites.tracks.length > 0">
                            <a class="button column medium-4" ng-click="$root.loadPlaylist(favorites)">
                                <i class="fi-play">
                                    <md-track-tooltipe>
                                        Lire tout les favoris
                                    </md-track-tooltipe>
                                </i>
                            </a>
                        </div>
                        <ul ng-repeat="track in favorites.tracks | filter: { isFavorite: true }" ng-if="$root.connected == true">
                            <ng-track class="column large-6"></ng-track>
                        </ul>
                        <b ng-if="viewFavorites && favorites.tracks.length == 0 && $root.connected == true">
                            Vous n'avez pas de morceaux favoris
                        </b>
                    </md-content>
                </md-tab>
                <md-tab label="Artists">
                    <md-content>
                        <artist-min ng-repeat="artist in favorites.artists | filter: filterFavorites"
                                    class="column large-6 small-12 marginBottom40 marginTop30 float-left"></artist-min>
                    </md-content>
                </md-tab>
                <md-tab label="Places">
                    <md-content>
                        <place-min ng-repeat="place in favorites.places | filter: filterFavorites"
                                   class="column large-6 small-12 marginBottom40 marginTop30 float-left">
                        </place-min>
                    </md-content>
                </md-tab>
                <md-tab label="Organizers">
                    <md-content>
                        <organizer-min ng-repeat="organizer in favorites.organizers | filter: filterFavorites"
                                       class="column large-6 small-12 marginBottom40 marginTop30 float-left">
                        </organizer-min>
                    </md-content>
                </md-tab>
            </md-tabs>
            <b ng-if="viewFavorites && $root.connected == false">Vous devez vous connecter</b>
        </md-content>
    </div>
    <div ng-if="viewIssues" ng-issues></div>
    <ng-connect ng-if="$root.connected == false">
    </ng-connect>
</div>