<b ng-click="cancel()" class="close-modal textColorWhite"><i class="fi-x-circle"></i></b>
<div class="modal-body column large-12 padding0">
    <b class="button column"
       ng-class="{'medium-4': $root.connected == false, 'medium-3': $root.connected == true,
       'active': viewIssues == true}"
       ng-click="viewIssues = true; viewPlaylists = false; viewFavorites = false">
        <i class="fa fa-bug"></i>
        <b>FAQ/Bugs</b>
    </b>
    <b class="button column"
       ng-class="{'medium-4': $root.connected == false,
       'medium-3': $root.connected == true,
       'active': viewPlaylists == true
       }"
       ng-click="getPlaylists(); viewFavorites = false; viewIssues = false;
    viewPlaylists = true"><i class="fa fa-th-list"></i><b> playlists</b></b>
    <b class="button column"
       ng-class="{'medium-4': $root.connected == false, 'medium-3': $root.connected == true,
       'active': viewFavorites == true}"
       ng-click="getFavoritesTracks(); viewIssues = false; viewPlaylists = false;
    viewFavorites = true"><i class="fa fa-star"></i><b> Morceaux favoris</b></b>
    <b  ng-if="$root.connected == true" class="button column medium-3"
        ng-click="logout()"><i class="fa fa-sign-out"></i><b> Deconnexion</b></b>
    <div ng-if="viewPlaylists" class="column large-12">
        <ul ng-repeat="playlist in playlists" class="column medium-6 margin0"
            style=" box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);">
            <div ng-if="playlist.tracks[0].thumbnailUrl != undefined"
                 class="img-circularPlayer"
                 style="background-image: url('{{playlist.tracks[0].thumbnailUrl}}');"
                 ng-class="{'padding0 margin0': $root.window == 'small'}">
                <i class="fi-play playInImg"
                   ng-click="$root.loadPlaylist(playlist)">
                    <md-track-tooltipe>
                        Lire la playlist
                    </md-track-tooltipe>
                </i>
            </div>
            <b><a ng-click="$root.loadPlaylist(playlist)">{{playlist.name}}</a></b>
            <a ng-click="confirmDelete = !confirmDelete" class="float-right">supprimer la playlist</a>
            <div class="column large-12" ng-show="confirmDelete">
                Etes vous sur de vouloir supprimer la playlist "{{playlist.name}}" ?
                <a class="button"
                   ng-click="deletePlaylist(playlist.playlistId, $index); confirmDelete = false">
                    Supprimer
                </a>
                <a class="button"
                   ng-click="confirmDelete = false">
                    Annuler
                </a>
            </div>
        </ul>
        <b ng-if="viewPlaylists && playlists.length == 0">Vous n'avez pas de playlists</b>
        <b ng-if="viewPlaylists && $root.connected == false">Vous devez vous connecter</b>
    </div>
    <div ng-if="viewFavorites">
        <ul ng-repeat="track in favorites" ng-init="track.isFavorite = true">
            <ng-track class="column large-6"></ng-track>
        </ul>
        <b ng-if="viewFavorites && favorites.length == 0">Vous n'avez pas de favoris</b>
        <b ng-if="viewFavorites && $root.connected == false">Vous devez vous connecter</b>
    </div>
    <div ng-if="viewIssues" ng-issues></div>
    <ng-connect ng-if="$root.connected == false">
    </ng-connect>
</div>