<div class="column large-12 float-left marginBottom10"
     ng-if="description.length > 0"
     ng-click="$parent.showDesc = !$parent.showDesc"
     style="background-color: #e7e7e7">
    <h2 class="float-left"
        style="line-height: 50px;
                  margin: 5px;
                  color: rgb(105, 181, 205);
                ">Présentation
    </h2>
    <div class="img-circularPlayer float-right"
         style="background: rgba(0, 140, 186, 0.54); height: 50px; width: 50px">
        <i class="pauseInImg ng-scope fa fa-chevron-down pointer"
           style="font-size: 50px;"
           ng-if="showDesc == false"
           ng-click="$parent.showDesc = true"></i>
        <i class="pauseInImg ng-scope fa fa-chevron-up pointer"
           style="font-size: 50px;"
           ng-if="showDesc == true"
           ng-click="$parent.showDesc = false"></i>
    </div>
    <div ng-if="showDesc == true" class="float-left width100p" data-ng-bind-html="description">
    </div>
</div>