
        /* GLOBAL STYLES -------------------------------------------------- */
        /* Padding below the footer and lighter body text */
        html, body, #contener { height: 100%; }
        body > #contener { height: auto; min-height: 100%; }
        body {padding-bottom: 0; color: #5a5a5a;}
		a{color:#2A69A2;}
		a:hover{color:#faa732; text-decoration:none;}
        .comment{padding:0 10px;}
        a>h4{color:#2A69A2; background-color:transparent; }
		a>h4:hover{color:#3790E0;}
        h2 {font-weight: normal;}
        .span4 p {margin-left: 10px; margin-right: 10px;}
        @font-face {
          font-family: 'Blanch-CapsInline';
          src: url('assets/fonts/Blanch-CapsInline.eot') format('embedded-opentype');
          font-weight: normal;
          font-style: normal;
        }

        @font-face {
          font-family: 'Blanch-CapsInline';
          src:  url('assets/fonts/Blanch-CapsInline.otf')  format('opentype'),
        	     url() format('woff'), url('assets/fonts/Blanch-CapsInline.ttf')  format('truetype'), url('assets/fonts/Blanch-CapsInline.svg#Blanch-CapsInline') format('svg');
          font-weight: normal;
          font-style: normal;
        }
        h1, h2, h3, h4, h5 {
        	 font-family: "Blanch-CapsInline";
        }

        /*pages*/
        .pages_contain{margin-right:auto; margin-left:auto; width:99%;}
        .wrapper-outer {width: 100%; padding-top:50px; color:black; padding-bottom: 12em;}
        .footer{background-color:black; clear: both; position: relative; z-index: 10; height: 12em; margin-top: -12em;}
        .footer_inner{width:95%; margin:auto;}


		/*tools*/
		.left{float:left;}
        .right{float:right;}

        .toolsContener{text-align:center;}

        /*Forms*/
        .formCreateContener{width:97%; margin:auto;}
        .previewEvent {margin-left:0!important;}
        .formRoute>a.Active{color:#faa732;}

        /*animations*/
.event_min_contener.ng-enter,.event_min_contener.ng-leave{
    -webkit-transition-delay:.2s;
    -webkit-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    position: relative;
    display: block;
} 
 
.event_min_contener.ng-enter.event_min_contener.ng-enter-active,.event_min_contener.ng-leave {
opacity: 1;
top: 0;
}
.event_min_contener.ng-leave.event_min_contener.ng-leave-active,.event_min_contener.ng-enter{
opacity: 0;}

.event_min_contener.ng-enter.event_min_contener.ng-enter-active{-webkit-animation-name:fadeIn;}

.event_min_contener.ng-leave.event_min_contener.ng-leave-active,.event_min_contener.ng-enter{
    -webkit-animation-name:fadeOut}
.event_min_cotener.ng-enter-stagger {@include webkit-transition-delay(.5s); @include webkit-transition-duration(0s)}

    /*slide*/
.rightmv.ng-enter,.rightmv.ng-leave{-webkit-animation-duration: .8s; -moz-animation-duration:.8s; -ms-animation-duration:.8s; -o-animation-duration:.8s;
-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;
-animation-fill-mode:both;}
.rightmv.ng-enter{position:absolute; top: 0; -webkit-animation-name: slideInRight; -moz-animation-name : slideInRight; -ms-animation-name : slideInRight; -o-animation-name : slideInRight;}
.rightmv.ng-leave{-webkit-animation-name: slideOutLeft; -moz-animation-name: slideOutLeft; -ms-animation-name: slideOutLeft; -o-animation-name: slideOutLeft;}

        /*carousel animations*/
        .switch-container {
            position: relative;
            width: 100%;
            height: 400px;
            overflow: hidden;
            background-color: rgba(71, 150, 221, 1);
        }
        .animate-show {padding-left : 50px; color : white; position:absolute; top:0;}

        .animate.ng-leave, .animate-show.ng-hide-add, .animate-show.ng-hide-add-active, .animate-show.ng-hide-add, .animate-show.ng-hide-add-active, .animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove, .animate-show.ng-hide-remove-active, .animate-show.ng-hide-remove.ng-hide-remove-active {

         -webkit-animation-duration:.8s; -moz-animation-duration:.8s; -ms-animation-duration:.8s; -o-animation-duration:.8s;
         -webkit-animation-fill-mode:both;
         -moz-animation-fill-mode:both;
         -ms-animation-fill-mode:both;
         -o-animation-fill-mode:both;
       }

       .animate-show.ng-hide-remove,
       .animate-show.ng-hide.ng-hide-active {
           opacity:0;
        }

       .animate-show.ng-hide,
       .animate-show.ng-hide-remove {
            opacity:1;

       }

       .animate-show.ng-hide-add, .animate.ng-leave {display:block!important;

         -webkit-animation-name: bounceOutLeft; -moz-animation-name: bounceOutLeft; -ms-animation-name: bounceOutLeft; -o-animation-name: bounceOutLeft;
       }
       .animate-show.ng-hide-remove, .animate-show.active-add {
                -webkit-animation-name: bounceInRight; -moz-animation-name: bounceInRight; -ms-animation-name: bounceInRight; -o-animation-name: bounceInRight;
              }

		/*Menu*/
		#pages-nav .logo{max-height: 90%; margin: 2px 2px 0 2px;}
		#pages-nav {font-size: 14px; height: 50px; position: fixed; text-align: center; width: 100%; z-index: 300; background-color:rgba(1, 1, 1, 0.84);}
		#pages-nav h4 {bottom: 40px; font-size: 14px; font-weight: 200; left: -120px; position: absolute; text-transform: uppercase;}
		#pages-nav ul {display: inline-block; height:50px; width:100%; margin-left:0; overflow:hidden;}
		#pages-nav li {display: inline-block; height:50px; line-height:50px;}
		#pages-nav li input {margin:9px;}
		#pages-nav .right{margin-right:10px;}
		#pages-nav .right.active{background-color:#faa732;}
		#pages-nav .right.active h3{color:#ffffff;}
		#pages-nav li a {color: #fff;}
		#pages-nav li a h3 {color: #a5a5a5; padding: 0 15px; height: 50px; line-height: 50px;  margin:0;}
		#pages-nav li a h3:hover{color:white;}
		#logo{border-radius:5px;}
		.floatable{top:50px; position:fixed; z-index:10;}
		.connect{height: 75%; margin: auto auto 2.2px;}
		.connect:hover{cursor:pointer;}
		.signIn:hover{cursor:pointer;}




        /* you can also define the transition style
           on the base class as well (.repeat-item) */
        .repeat-item.ng-enter,
        .repeat-item.ng-leave {
            -webkit-transition:0.5s linear all;
            transition:0.5s linear all;
        }

        .repeat-item.ng-enter,
        .repeat-item.ng-leave.ng-leave-active {
            opacity:0;
        }
        .repeat-item.ng-leave,
        .repeat-item.ng-enter.ng-enter-active {
            opacity:1;
        }


        /*video*/
        .video_contener{width:25%; float:left; display:table-cell; margin:10px auto;}
        .ng-lecture{bottom:-200px; right:0; position:fixed;}
        .lecteur_controller{position:absolute; background-color:rgba(0, 0, 0, 0.7); display:none;}
        .ng-control{height:20px; background-color: rgba(42, 105, 162, 0.15); display:none;}
        .reduire{margin-left:10px; float: left; font-size: 35px; font-weight: bold; line-height: 15px; color: #000; text-shadow: 0 1px 0 #fff; opacity: .2; filter: alpha(opacity=20);}
        .restaurer{margin-left:10px; float: left; font-size: 20px; font-weight: bold; line-height: 20px; color: #000; text-shadow: 0 1px 0 #fff; opacity: .2; filter: alpha(opacity=20);}
        .lecteur_content{background-color:black;}
		
		/*Events*/
		#events_contener{margin:0;}
		#events_contener>ul{margin:0;}
        #events_contener>ul:hover>li{opacity:0.5;}
        #events_contener>ul:hover>li:hover{opacity:1;}

        #block_info{float: right; margin-top:5px; }
        #block_comment{margin-bottom:10px; margin-left:0;}
        #block_news{margin-bottom:10px;}
		.event_min_contener{width:25%; float:left; display:table-cell; margin:10px auto;}
		.block_event_min{margin:0 auto; box-shadow: 1px 1px 12px -5px rgba(85, 85, 85, 0.59); width:95%; border-radius: 0 0 3px 3px; color: black; max-height:100%; -webkit-transition: 0.4s, -webkit-transform 0.4s ease-in-out; -moz-transition: 0.4s, -moz-transform 0.4s ease-in-out; -o-transition: 0.4s, -o-transform 0.4s ease-in-out; -ms-transition: 0.4s, -ms-transform 0.4s ease-in-out;	transition: 0.4s, transform 0.4s ease-in-out;}
		.block_event_min:hover{box-shadow: 1px 1px 12px -1px rgba(85, 85, 85, 0.59);/*-webkit-transform: scale(1.06); -moz-transform: scale(1.06);	-o-transform: scale(1.06); -ms-transform: scale(1.06); z-index: 100; opacity: 1;*/}
		.img_min_evnt{width:100%}

        .text_evnt_min{margin:10px auto; width:95%}
		.btn_event{float:right; margin:5px 5px 5px 0;}
		.min{width:100%;}		
		.event_entete>h2{float:left; margin:0;}
		.event_entete{line-height:40px;}
		.block_event{background-color:#faa732; text-align:center; color:white;}
		.block_event_inner{background-color:#f5f5f5;text-align:justify; border-radius:0 0 3px 3px; height: 200px; overflow:hidden;}
        #comment_event{background-color:#f5f5f5;text-align:justify; border-radius:0 0 3px 3px;}
        .block_event_inner.span12{margin-left:0;}
        .block_event_inner:hover{overflow:auto;}

        .infos_event{height:40px;}
		.description_event_min{height:40px; width:100%;}
		
		/*Profils*/
        #profil_contenu{margin-left:0;}
		#photo_profil{float:left;}
		#photo_profil>img{float:left; position:absolute; margin-top:-50px;}
		#name{font-size:30px; color:#faa732; margin-top:5px;}
		.tab-content{padding:0 10px;}
        #banprofil{margin-left:auto; margin-right:auto; width:100%; max-height:350px; overflow: hidden;}
        #banprofil>img{width:100%;}
        .headerprofil{margin-left: 170px;}
        .contentprofil{margin-top: 140px;}
		/*artistes*/

		
		/*cartouche recherche*/
		#search{margin-bottom:0; line-height:45px; margin-left:0;}
		#search_ville{line-height:45px; float:left; margin:0;}
		#search_ville>input{margin:0;}
		.ng-search{background-color: rgba(42, 105, 162, 0.15); border-bottom: solid 1px rgba(42, 105, 162, 0.08); margin:0;}
		.ng-search>h4{color:black; line-height: 45px; float:left; margin:0 10px;}


        /* MARKETING CONTENT -------------------------------------------------- */
		
		
        
        /* RESPONSIVE CSS -------------------------------------------------- */
        @media (max-width: 979px) {
          
			 body{margin-top:0; margin-right:0; padding:0
             }
			 
			 /*events*/
			 .event_min_contener{width:33.33%;}
			 }
            
        @media (max-width: 767px) {
            body{margin-top:0; margin-right:0; padding:0
            }
		   /*events*/
			 .event_min_contener{width:100%;}
           
		}
		
		@media (max-width: 500px){
         body{margin-top:0; margin-right:0; padding:0
         }
	   
    
		}

		
