<div class="parallax-background">
    <img class="width100p" ng-src="{{ event.imagePath }}" on-error-src="assets/images/caroussel1.png"/>
</div>
<div class="parallax-content column" ng-controller="EventMinCtrl">
    <div class="columns large-12">
        <p class="column medium-10 paddingTop0 paddingLeft0 eventInfos">
            <i class="fi-calendar"></i>
            <b>
                {{ event.startTime | date:'dd/MM - HH:mm'}}
            </b>
            <b>
                <a href="#/places/{{ place.id }}"
                   ng-class="{'column padding0': $root.window == 'small'}"
                   data-ng-repeat="place in event.places">
                    <i class="fa fa-map-marker"></i>
                    <b>{{ place.name }}</b>
                </a>
            </b>
            <b ng-if="event.tariffRange.length != undefined || event.ticketSellers != undefined">
                    <i class="fa fa-ticket"></i><b>{{event.tariffRange}}</b>
                    <a ng-if="event.ticketSellers != undefined"
                       href="http://www.{{event.ticketSellers}}"
                       class="button"
                       target="_blank">Acheter des places sur {{event.ticketPlatform}}</a>
            </b>
        </p>
        <a class="column medium-2 followButton">
        </a>
        <h2 class="column padding0 marginTop0">{{event.name}}</h2>
    </div>
    <div ng-if="$root.window == 'large'"
         ng-class="{'large-12': event.tariffs.length == 0 &&
         (event.tariffRange.length != undefined || event.ticketSellers != undefined) &&
         event.artists.length == 0 && event.organizers.length == 0 &&
         (!map || (map && event.imagePath)),
                    'large-8': event.tariffs.length > 0 || event.tariffRange.length != undefined ||
                    event.ticketSellers != undefined || event.artists.length > 0 ||
                    event.organizers.length > 0 || (map && event.imagePath)
                    }"
         class="descriptionContent column float-left padding0 justify">
        <div id="description" ng-bind-html="event.description"></div>
    </div>
    <div class="column large-4 float-left eventInfo" ng-if="event.tariffs.length > 0">
        <h2>Acheter des places</h2>
        <li ng-repeat="tarif in event.tariffs" style="display: block;">
            <h4>{{tarif.denominations}}</h4>
            <h4 class="column large-4">{{tarif.prices}} €</h4>
            <select class="column large-4">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <button class="column large-4">Acheter</button>
        </li>
    </div>
    <div class="column medium-4 float-left"
         ng-repeat="artist in event.artists"
         ng-if="event.artists.length > 0">
        <li class="float-left width100p paddingTop10 paddingBottom10 paddingRight10
            marginBottom10 relative programmation">
            <a href="#/artists/{{artist.facebookUrl}}"
               class="progArtImg absolute width100p height100p imgBlur"
               style="background-image: url('{{artist.imagePath}}');">
            </a>
            <a class="float-left relative" href="#/artists/{{artist.facebookUrl}}">
                <h2 class="margin0 progArtName">{{artist.name}}</h2>
            </a>
            <a class="absolute bottom0 left column medium-4 small-6 padding0"
               style='height:55px; top:40px'>
                <div class="width100p primCol padding10 textWhite text-center"
                     ng-if="!artist.isFollowed"
                     ng-click="followArtist(artist)">
                    <b>Suivre</b>
                </div>
                <div ng-if="artist.isFollowed"
                   ng-click="unfollowArtist(artist)"
                   class="width100p primCol padding10 textWhite text-center isFollowButton">
                    <b class="first">Suivi</b>
                    <b class="second">Ne plus suivre</b>
                </div>
            </a>
            <div class="img-circularPlayer float-right marginTop20 relative playProg"
                 ng-show="artist.hasTracks">
                <i class="pauseInImg ng-scope fi-play"
                   ng-click="getTracksAndPlay(artist)"></i>
            </div>
        </li>
    </div>
    <div class="column large-4 float-left eventInfo marginTop10"
            ng-if="event.organizers.length > 0">
        <div class="column large-12 padding0" data-ng-repeat="organizer in event.organizers">
            <a href="#/organizers/{{organizer.id}}" class="column large-12 padding0">
                <img src="{{organizer.imagePath}}" class="relative width100p"/>
            </a>
            <h3 class="column large-8 medium-10">
                <a>
                    <i class="fa pointer"
                       ng-if="organizer.description != undefined"
                       ng-class="{'fa-chevron-down': !$parent.readDesc,
                       'fa-chevron-up': $parent.readDesc}"
                       ng-click="$parent.readDesc = !$parent.readDesc">
                    </i>
                </a>
                <a href="#/organizers/{{organizer.id}}">{{ organizer.name }}</a>
            </h3>
            <a class="absolute bottom0 column medium-4 padding0"
               style='height:55px; right:0;'>
                <div class="width100p primCol padding10 textWhite text-center"
                     ng-if="!organizer.isFollowed"
                   ng-click="followOrganizer(organizer)"><b>Suivre</b>
                </div>
                <div class="width100p primCol padding10 textWhite text-center isFollowButton"
                     ng-if="organizer.isFollowed"
                     ng-click="unfollowOrganizer(organizer)">
                    <b class="first">Suivi</b>
                    <b class="second">Ne plus suivre</b>
                </div>
            </a>
            <div class="justify" ng-if="readDesc" data-ng-bind-html="organizer.description"></div>
        </div>
    </div>
    <div class="column large-4 float-left eventInfo map-container marginTop10"
         ng-if="map" >
        <div class="column large-12 paddingLeft0" ng-if="adresses">
            <a href="#/places/{{event.places[0].id }}"
               class="column large-12">
                <b>{{event.places[0].name}}</b>
            </a>
            <div style="font-size: 12px;" class="column medium-8">
                {{event.addresses[0].street}}<br/>
                {{event.addresses[0].zip}}
                {{event.addresses[0].city}}
            </div>
            <a class="column medium-4"
               style='height:55px; right:0;'>
                <div class="width100p primCol padding10 textWhite text-center"
                     ng-if="!event.places[0].isFollowed"
                   ng-click="followPlace(event.places[0])">
                    <b>Suivre</b>
                </div>
                <div class="width100p primCol padding10 textWhite text-center isFollowButton"
                     ng-if="event.places[0].isFollowed"
                     ng-click="unfollowPlace(event.places[0])">
                    <b class="first">Suivi</b>
                    <b class="second">Ne plus suivre</b>
                </div>
            </a>
        </div>
        <div class="column large-12 marginTop10">
            <map-controls></map-controls>
        </div>
        <div class="column large-12 padding0">
            <stylized-map class="column large-12 padding0"
                          style="height: 300px"></stylized-map>
        </div>
    </div>
    <div ng-if="$root.window == 'small' || $root.window == 'medium'" class="descriptionContent column padding0 float-left" style="text-align: justify;">
        <div ng-bind-html="event.description"></div>
    </div>
</div>


