.parallax-background {
  background-color: #0078A0;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 120%;
  -moz-background-size: 120%;
  -o-background-size: 120%;
  background-size: 120%;
  position: fixed;
  width: 100%;
  background-position-x: 20%;
  background-position-y: -4em;
  background-image: url('../images/caroussel1.png');
}

.parallax-content {
  max-width: 100%;
  position: relative;
  margin-top: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  float: left;
  width: 100%;
  background: #ffffff;
}