<div data-ng-controller="placeController">

    <stylized-map ng-if="place.place.geographicPoint && place.place.geographicPoint != 'POINT (-84 30)'"
                  ng-init="geographicPoint = (place.place.geographicPoint | geographicPointRefactoringFilter)"
                  class="place-map">
    </stylized-map>
    <div class="place-image-container" data-ng-if="place.place.geographicPoint == 'POINT (-84 30)'">
        <img class="place-image" data-ng-src="{{ place.place.imagePath }}"/>
    </div>
    <!---->
    <!--on error image-->
    <!---->

    <div class="column small-12">
        <h2 class="float-left marginTop0">
            {{ place.place.name }}
        </h2>
    </div>

    <div id="description" data-ng-bind-html="place.place.description">
    </div>

    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
        <md-tab label="{{ 'EVENTS' | translate }}">
            <md-content  class="width100p float-left marginTop10">
                <event-min class="column large-4 medium-6 float-left fade margin0"
                           data-ng-repeat="event in events | orderBy: 'startTime'">
                </event-min>
                <div layout="row"
                     layout-sm="column"
                     layout-align="space-around"
                     class="column large-12"
                     ng-if="loadEvents">
                    <md-progress-circular md-mode="indeterminate">
                    </md-progress-circular>
                </div>
            </md-content>
        </md-tab>

        <md-tab label="{{ 'PAST_EVENTS' | translate }}">
            <md-content class="width100p float-left marginTop10">
                <event-min class="column large-4 medium-6 float-left fade margin0"
                           data-ng-repeat="event in passedEvents">
                </event-min>
                <div layout="row"
                     layout-sm="column"
                     layout-align="space-around"
                     class="column large-12"
                     ng-if="loadEvents">
                    <md-progress-circular md-mode="indeterminate">
                    </md-progress-circular>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>

</div>
