.place-image {
  width: 100%;
}

.place-image-container {
  max-height: 600px;
  width: 100%;
  overflow: hidden;
}

.place-map {
  height: 600px;
  padding: 0;
  width: 100%;
  float: left;
}

.place-name {
  margin-top: 20px;
}
