/*Positions*/
/* line 3, ../../public/styles/tools.scss */
.fixed {
  position: fixed !important;
}

/* line 4, ../../public/styles/tools.scss */
.relative {
  position: relative !important;
}

/* line 5, ../../public/styles/tools.scss */
.absolute {
  position: absolute !important;
}

/* line 6, ../../public/styles/tools.scss */
.top0 {
  top: 0 !important;
}

/* line 7, ../../public/styles/tools.scss */
.bottom0 {
  bottom: 0 !important;
}

/* line 8, ../../public/styles/tools.scss */
.left {
  left: 0 !important;
}

/* line 9, ../../public/styles/tools.scss */
.right {
  right: 0 !important;
}

/* line 10, ../../public/styles/tools.scss */
.float-left {
  float: left !important;
}

/* line 11, ../../public/styles/tools.scss */
.float-right {
  float: right !important;
}

/* line 12, ../../public/styles/tools.scss */
.float-none {
  float: none !important;
}

/* line 13, ../../public/styles/tools.scss */
.hiddenBlock {
  position: absolute;
  top: -99999px;
  opacity: 0;
}

/*Colors*/
/* line 15, ../../public/styles/tools.scss */
.primCol {
  background: #008CBA;
  color: #ffffff;
}

/* line 16, ../../public/styles/tools.scss */
.primCol > a {
  color: #ffffff;
}

/*.primCol:hover {background: #007095}*/
/* line 18, ../../public/styles/tools.scss */
.white {
  background: #ffffff;
}

/* line 19, ../../public/styles/tools.scss */
.active {
  background: primary-color;
}

/* line 20, ../../public/styles/tools.scss */
.BlackTrans {
  background: transparentBlack;
}

/*z-index*/
/* line 22, ../../public/styles/tools.scss */
.zIndex1 {
  z-index: 1;
}

/* line 23, ../../public/styles/tools.scss */
.zIndex2 {
  z-index: 2;
}

/* line 24, ../../public/styles/tools.scss */
.zIndex3 {
  z-index: 3;
}

/* line 25, ../../public/styles/tools.scss */
.zIndex4 {
  z-index: 4;
}

/* line 26, ../../public/styles/tools.scss */
.zIndex5 {
  z-index: 5;
}

/* line 27, ../../public/styles/tools.scss */
.zIndex6 {
  z-index: 6;
}

/*text*/
/* line 30, ../../public/styles/tools.scss */
.center {
  text-align: center !important;
}

/* line 31, ../../public/styles/tools.scss */
.justify {
  text-align: justify !important;
}

/* line 32, ../../public/styles/tools.scss */
.textLeft {
  text-align: left !important;
}

/* line 33, ../../public/styles/tools.scss */
.textRight {
  text-align: right !important;
}

/* line 34, ../../public/styles/tools.scss */
.textColorWhite {
  color: white;
}

/*effects*/
/* line 37, ../../public/styles/tools.scss */
.pointer {
  cursor: pointer;
}

/*margin*/
/* line 40, ../../public/styles/tools.scss */
.marginList {
  margin-left: 0.85% !important;
  margin-right: 0.85%;
}

/* line 41, ../../public/styles/tools.scss */
.marginAuto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 42, ../../public/styles/tools.scss */
.margin0 {
  margin: 0 !important;
}

/* line 43, ../../public/styles/tools.scss */
.margin10 {
  margin: 10px !important;
}

/* line 44, ../../public/styles/tools.scss */
.margin20 {
  margin: 20px !important;
}

/* line 45, ../../public/styles/tools.scss */
.margin30 {
  margin: 30px !important;
}

/* line 46, ../../public/styles/tools.scss */
.margin40 {
  margin: 40px !important;
}

/* line 47, ../../public/styles/tools.scss */
.margin50 {
  margin: 50px !important;
}

/*left*/
/* line 49, ../../public/styles/tools.scss */
.marginLeft0 {
  margin-left: 0 !important;
}

/* line 50, ../../public/styles/tools.scss */
.marginLeft10 {
  margin-left: 10px !important;
}

/* line 51, ../../public/styles/tools.scss */
.marginLeft20 {
  margin-left: 20px !important;
}

/* line 52, ../../public/styles/tools.scss */
.marginLeft30 {
  margin-left: 30px !important;
}

/* line 53, ../../public/styles/tools.scss */
.marginLeft40 {
  margin-left: 40px !important;
}

/* line 54, ../../public/styles/tools.scss */
.marginLeft50 {
  margin-left: 50px !important;
}

/*right*/
/* line 56, ../../public/styles/tools.scss */
.marginRight0 {
  margin-right: 0 !important;
}

/* line 57, ../../public/styles/tools.scss */
.marginRight10 {
  margin-right: 10px !important;
}

/* line 58, ../../public/styles/tools.scss */
.marginRight20 {
  margin-right: 20px !important;
}

/* line 59, ../../public/styles/tools.scss */
.marginRight30 {
  margin-right: 30px !important;
}

/* line 60, ../../public/styles/tools.scss */
.marginRight40 {
  margin-right: 40px !important;
}

/* line 61, ../../public/styles/tools.scss */
.marginRight50 {
  margin-right: 50px !important;
}

/*top*/
/* line 63, ../../public/styles/tools.scss */
.marginTop0 {
  margin-top: 0 !important;
}

/* line 64, ../../public/styles/tools.scss */
.marginTop10 {
  margin-top: 10px !important;
}

/* line 65, ../../public/styles/tools.scss */
.marginTop20 {
  margin-top: 20px !important;
}

/* line 66, ../../public/styles/tools.scss */
.marginTop30 {
  margin-top: 30px !important;
}

/* line 67, ../../public/styles/tools.scss */
.marginTop40 {
  margin-top: 40px !important;
}

/* line 68, ../../public/styles/tools.scss */
.marginTop50 {
  margin-top: 50px !important;
}

/*bottom*/
/* line 70, ../../public/styles/tools.scss */
.marginBottom0 {
  margin-bottom: 0 !important;
}

/* line 71, ../../public/styles/tools.scss */
.marginBottom10 {
  margin-bottom: 10px !important;
}

/* line 72, ../../public/styles/tools.scss */
.marginBottom20 {
  margin-bottom: 20px !important;
}

/* line 73, ../../public/styles/tools.scss */
.marginBottom30 {
  margin-bottom: 30px !important;
}

/* line 74, ../../public/styles/tools.scss */
.marginBottom40 {
  margin-bottom: 40px !important;
}

/* line 75, ../../public/styles/tools.scss */
.marginBottom50 {
  margin-bottom: 50px !important;
}

/*padding*/
/* line 78, ../../public/styles/tools.scss */
.padding0 {
  padding: 0 !important;
}

/* line 79, ../../public/styles/tools.scss */
.padding10 {
  padding: 10px !important;
}

/* line 80, ../../public/styles/tools.scss */
.padding20 {
  padding: 20px !important;
}

/* line 81, ../../public/styles/tools.scss */
.padding30 {
  padding: 30px !important;
}

/* line 82, ../../public/styles/tools.scss */
.padding40 {
  padding: 40px !important;
}

/* line 83, ../../public/styles/tools.scss */
.padding50 {
  padding: 50px !important;
}

/* line 84, ../../public/styles/tools.scss */
.padding1 {
  padding: 1em !important;
}

/* line 85, ../../public/styles/tools.scss */
.padding2 {
  padding: 2em !important;
}

/* line 86, ../../public/styles/tools.scss */
.padding3 {
  padding: 3em !important;
}

/* line 87, ../../public/styles/tools.scss */
.padding4 {
  padding: 4em !important;
}

/* line 88, ../../public/styles/tools.scss */
.padding5 {
  padding: 5em !important;
}

/*left*/
/* line 90, ../../public/styles/tools.scss */
.paddingLeft0 {
  padding-left: 0 !important;
}

/* line 91, ../../public/styles/tools.scss */
.paddingLeft10 {
  padding-left: 10px !important;
}

/* line 92, ../../public/styles/tools.scss */
.paddingLeft20 {
  padding-left: 20px !important;
}

/* line 93, ../../public/styles/tools.scss */
.paddingLeft30 {
  padding-left: 30px !important;
}

/* line 94, ../../public/styles/tools.scss */
.paddingLeft40 {
  padding-left: 40px !important;
}

/* line 95, ../../public/styles/tools.scss */
.paddingLeft50 {
  padding-left: 50px !important;
}

/* line 96, ../../public/styles/tools.scss */
.paddingLeft1 {
  padding-left: 1em !important;
}

/* line 97, ../../public/styles/tools.scss */
.paddingLeft2 {
  padding-left: 2em !important;
}

/* line 98, ../../public/styles/tools.scss */
.paddingLeft3 {
  padding-left: 3em !important;
}

/* line 99, ../../public/styles/tools.scss */
.paddingLeft4 {
  padding-left: 4em !important;
}

/* line 100, ../../public/styles/tools.scss */
.paddingLeft5 {
  padding-left: 5em !important;
}

/*right*/
/* line 102, ../../public/styles/tools.scss */
.paddingRight0 {
  padding-right: 0 !important;
}

/* line 103, ../../public/styles/tools.scss */
.paddingRight10 {
  padding-right: 10px !important;
}

/* line 104, ../../public/styles/tools.scss */
.paddingRight20 {
  padding-right: 20px !important;
}

/* line 105, ../../public/styles/tools.scss */
.paddingRight30 {
  padding-right: 30px !important;
}

/* line 106, ../../public/styles/tools.scss */
.paddingRight40 {
  padding-right: 40px !important;
}

/* line 107, ../../public/styles/tools.scss */
.paddingRight50 {
  padding-right: 50px !important;
}

/* line 108, ../../public/styles/tools.scss */
.paddingRight1 {
  padding-right: 1em !important;
}

/* line 109, ../../public/styles/tools.scss */
.paddingRight2 {
  padding-right: 2em !important;
}

/* line 110, ../../public/styles/tools.scss */
.paddingRight3 {
  padding-right: 3em !important;
}

/* line 111, ../../public/styles/tools.scss */
.paddingRight4 {
  padding-right: 4em !important;
}

/* line 112, ../../public/styles/tools.scss */
.paddingRight5 {
  padding-right: 5em !important;
}

/*top*/
/* line 114, ../../public/styles/tools.scss */
.paddingTop0 {
  padding-top: 0 !important;
}

/* line 115, ../../public/styles/tools.scss */
.paddingTop10 {
  padding-top: 10px !important;
}

/* line 116, ../../public/styles/tools.scss */
.paddingTop20 {
  padding-top: 20px !important;
}

/* line 117, ../../public/styles/tools.scss */
.paddingTop30 {
  padding-top: 30px !important;
}

/* line 118, ../../public/styles/tools.scss */
.paddingTop40 {
  padding-top: 40px !important;
}

/* line 119, ../../public/styles/tools.scss */
.paddingTop50 {
  padding-top: 50px !important;
}

/* line 120, ../../public/styles/tools.scss */
.paddingTop1 {
  padding-top: 1em !important;
}

/* line 121, ../../public/styles/tools.scss */
.paddingTop2 {
  padding-top: 2em !important;
}

/* line 122, ../../public/styles/tools.scss */
.paddingTop3 {
  padding-top: 3em !important;
}

/* line 123, ../../public/styles/tools.scss */
.paddingTop4 {
  padding-top: 4em !important;
}

/* line 124, ../../public/styles/tools.scss */
.paddingTop5 {
  padding-top: 5em !important;
}

/*bottom*/
/* line 126, ../../public/styles/tools.scss */
.paddingBottom0 {
  padding-bottom: 0 !important;
}

/* line 127, ../../public/styles/tools.scss */
.paddingBottom10 {
  padding-bottom: 10px !important;
}

/* line 128, ../../public/styles/tools.scss */
.paddingBottom20 {
  padding-bottom: 20px !important;
}

/* line 129, ../../public/styles/tools.scss */
.paddingBottom30 {
  padding-bottom: 30px !important;
}

/* line 130, ../../public/styles/tools.scss */
.paddingBottom40 {
  padding-bottom: 40px !important;
}

/* line 131, ../../public/styles/tools.scss */
.paddingBottom50 {
  padding-bottom: 50px !important;
}

/* line 132, ../../public/styles/tools.scss */
.paddingBottom1 {
  padding-bottom: 1em !important;
}

/* line 133, ../../public/styles/tools.scss */
.paddingBottom2 {
  padding-bottom: 2em !important;
}

/* line 134, ../../public/styles/tools.scss */
.paddingBottom3 {
  padding-bottom: 3em !important;
}

/* line 135, ../../public/styles/tools.scss */
.paddingBottom4 {
  padding-bottom: 4em !important;
}

/* line 136, ../../public/styles/tools.scss */
.paddingBottom5 {
  padding-bottom: 5em !important;
}

/*height*/
/* line 139, ../../public/styles/tools.scss */
.height50 {
  height: 50px !important;
}

/* line 140, ../../public/styles/tools.scss */
.height5 {
  height: 5em !important;
}

/* line 141, ../../public/styles/tools.scss */
.height100 {
  height: 100px !important;
}

/* line 142, ../../public/styles/tools.scss */
.height10 {
  height: 10em !important;
}

/* line 143, ../../public/styles/tools.scss */
.height150 {
  height: 150px !important;
}

/* line 144, ../../public/styles/tools.scss */
.height15 {
  height: 15em !important;
}

/* line 145, ../../public/styles/tools.scss */
.height200 {
  height: 200px !important;
}

/* line 146, ../../public/styles/tools.scss */
.height20 {
  height: 20em !important;
}

/* line 147, ../../public/styles/tools.scss */
.height50 {
  height: 50px !important;
}

/* line 148, ../../public/styles/tools.scss */
.height5 {
  height: 5em !important;
}

/* line 149, ../../public/styles/tools.scss */
.height250 {
  height: 250px !important;
}

/* line 150, ../../public/styles/tools.scss */
.height25 {
  height: 25em !important;
}

/* line 151, ../../public/styles/tools.scss */
.height300 {
  height: 300px !important;
}

/* line 152, ../../public/styles/tools.scss */
.height30 {
  height: 30em !important;
}

/* line 153, ../../public/styles/tools.scss */
.height350 {
  height: 350px !important;
}

/* line 154, ../../public/styles/tools.scss */
.height35 {
  height: 35em !important;
}

/* line 155, ../../public/styles/tools.scss */
.height400 {
  height: 400px !important;
}

/* line 156, ../../public/styles/tools.scss */
.height40 {
  height: 40em !important;
}

/* line 157, ../../public/styles/tools.scss */
.height450 {
  height: 450px !important;
}

/* line 158, ../../public/styles/tools.scss */
.height45 {
  height: 45em !important;
}

/* line 160, ../../public/styles/tools.scss */
.maxHeight50 {
  max-height: 50px !important;
}

/* line 161, ../../public/styles/tools.scss */
.maxHeight5 {
  max-height: 5em !important;
}

/* line 162, ../../public/styles/tools.scss */
.maxHeight100 {
  max-height: 100px !important;
}

/* line 163, ../../public/styles/tools.scss */
.maxHeight10 {
  max-height: 10em !important;
}

/* line 164, ../../public/styles/tools.scss */
.maxHeight150 {
  max-height: 150px !important;
}

/* line 165, ../../public/styles/tools.scss */
.maxHeight15 {
  max-height: 15em !important;
}

/* line 166, ../../public/styles/tools.scss */
.maxHeight200 {
  max-height: 200px !important;
}

/* line 167, ../../public/styles/tools.scss */
.maxHeight20 {
  max-height: 20em !important;
}

/* line 168, ../../public/styles/tools.scss */
.maxHeight50 {
  max-height: 50px !important;
}

/* line 169, ../../public/styles/tools.scss */
.maxHeight5 {
  max-height: 5em !important;
}

/* line 170, ../../public/styles/tools.scss */
.maxHeight250 {
  max-height: 250px !important;
}

/* line 171, ../../public/styles/tools.scss */
.maxHeight25 {
  max-height: 25em !important;
}

/* line 172, ../../public/styles/tools.scss */
.maxHeight300 {
  max-height: 300px !important;
}

/* line 173, ../../public/styles/tools.scss */
.maxHeight30 {
  max-height: 30em !important;
}

/* line 174, ../../public/styles/tools.scss */
.maxHeight350 {
  max-height: 350px !important;
}

/* line 175, ../../public/styles/tools.scss */
.maxHeight35 {
  max-height: 35em !important;
}

/* line 176, ../../public/styles/tools.scss */
.maxHeight400 {
  max-height: 400px !important;
}

/* line 177, ../../public/styles/tools.scss */
.maxHeight40 {
  max-height: 40em !important;
}

/* line 178, ../../public/styles/tools.scss */
.maxHeight450 {
  max-height: 450px !important;
}

/* line 179, ../../public/styles/tools.scss */
.maxHeight45 {
  max-height: 45em !important;
}

/* line 180, ../../public/styles/tools.scss */
.height100p {
  min-height: 100% !important;
}

/* line 182, ../../public/styles/tools.scss */
.minHeight50 {
  min-height: 50px !important;
}

/* line 183, ../../public/styles/tools.scss */
.minHeight5 {
  min-height: 5em !important;
}

/* line 184, ../../public/styles/tools.scss */
.minHeight100 {
  min-height: 100px !important;
}

/* line 185, ../../public/styles/tools.scss */
.minHeight10 {
  min-height: 10em !important;
}

/* line 186, ../../public/styles/tools.scss */
.minHeight150 {
  min-height: 150px !important;
}

/* line 187, ../../public/styles/tools.scss */
.minHeight15 {
  min-height: 15em !important;
}

/* line 188, ../../public/styles/tools.scss */
.minHeight200 {
  min-height: 200px !important;
}

/* line 189, ../../public/styles/tools.scss */
.minHeight20 {
  min-height: 20em !important;
}

/* line 190, ../../public/styles/tools.scss */
.minHeight50 {
  min-height: 50px !important;
}

/* line 191, ../../public/styles/tools.scss */
.minHeight5 {
  min-height: 5em !important;
}

/* line 192, ../../public/styles/tools.scss */
.minHeight250 {
  min-height: 250px !important;
}

/* line 193, ../../public/styles/tools.scss */
.minHeight25 {
  min-height: 25em !important;
}

/* line 194, ../../public/styles/tools.scss */
.minHeight300 {
  min-height: 300px !important;
}

/* line 195, ../../public/styles/tools.scss */
.minHeight30 {
  min-height: 30em !important;
}

/* line 196, ../../public/styles/tools.scss */
.minHeight350 {
  min-height: 350px !important;
}

/* line 197, ../../public/styles/tools.scss */
.minHeight35 {
  min-height: 35em !important;
}

/* line 198, ../../public/styles/tools.scss */
.minHeight400 {
  min-height: 400px !important;
}

/* line 199, ../../public/styles/tools.scss */
.minHeight40 {
  min-height: 40em !important;
}

/* line 200, ../../public/styles/tools.scss */
.minHeight450 {
  min-height: 450px !important;
}

/* line 201, ../../public/styles/tools.scss */
.minHeight45 {
  min-height: 45em !important;
}

/*resp height*/
/* line 204, ../../public/styles/tools.scss */
.heightResp {
  height: 400px !important;
}

@media (max-width: 767px) {
  /* line 207, ../../public/styles/tools.scss */
  [class*="heightResp"], .uneditable-input[class*="heightResp"], .row-fluid [class*="heightResp"] {
    display: block;
    float: none;
    height: 300px !important;
  }
}
/*resp width*/
/* line 216, ../../public/styles/tools.scss */
.width100p {
  width: 100% !important;
}

/* line 217, ../../public/styles/tools.scss */
.width {
  width: 33.6% !important;
  margin-left: 0.5% !important;
}

/* line 221, ../../public/styles/tools.scss */
.width2 {
  width: 50% !important;
  float: left !important;
}

/* line 225, ../../public/styles/tools.scss */
.width3 {
  width: 76.7% !important;
  float: left;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  /* line 231, ../../public/styles/tools.scss */
  [class*="width"], .uneditable-input[class*="width"], .row-fluid [class*="width"] {
    display: block;
    float: none;
    width: 100% !important;
    margin-left: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/*annimations*/
/*slide*/
/* line 245, ../../public/styles/tools.scss */
.rightSlide.ng-enter, .rightSlide.ng-leave {
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  -ms-animation-duration: .8s;
  -o-animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -animation-fill-mode: both;
}

/* line 251, ../../public/styles/tools.scss */
.rightSlide.ng-enter {
  position: absolute;
  top: 0;
  -webkit-animation-name: slideInRight;
  -moz-animation-name: slideInRight;
  -ms-animation-name: slideInRight;
  -o-animation-name: slideInRight;
}

/* line 252, ../../public/styles/tools.scss */
.rightSlide.ng-leave {
  -webkit-animation-name: slideOutLeft;
  -moz-animation-name: slideOutLeft;
  -ms-animation-name: slideOutLeft;
  -o-animation-name: slideOutLeft;
}

/*fade*/
/* line 255, ../../public/styles/tools.scss */
.fadeSlide.ng-enter, .fadeSlide.ng-leave {
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  -ms-animation-duration: .8s;
  -o-animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -animation-fill-mode: both;
}

/* line 261, ../../public/styles/tools.scss */
.fadeSlide.ng-enter {
  position: absolute;
  top: 0;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
}

/* line 262, ../../public/styles/tools.scss */
.fadeSlide.ng-leave {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
}
