<div class="image-container">
    <div class="column large-12 padding0">
        <h1 class="home-title column medium-8 medium-offset-2 large-6 large-offset-3">
            <b>
                qlkhj qlkdj lkjd sqlkjd qslqsj ldjjkd qslsd
                {{ 'HEADLINE' | translate }}
            </b>
        </h1>
    </div>

    <h4 class="home-subtitle column padding0">
        {{ 'INTRO_TEXT' | translate }}
    </h4>

    <form class="column medium-10 medium-offset-1 large-8 large-offset-2 sell-form absolute">
        <div class="form-container tracking" data-ng-controller="eventsController">

            <md-autocomplete md-search-text-change="controller.findMaybeSalableEventsContaining(ctrl.searchText)"
                             md-search-text="$parent.ctrl.searchText"
                             md-items="event in maybeSalableEvents"
                             md-item-text="event.event.name"
                             md-min-length="0"
                             md-selected-item-change="controller.redirectSalableEvent(event)"
                             class="sell-input tracking"
                             id="li1"
                             ng-init="controller.findMaybeSalableEventsNearActualPosition(0, 12)"
                             tracker="in,li1,{{ctrl.searchText}}"
                             focus="{{focusSearch}}"
                             placeholder="{{ 'INPUT_LANDING_PAGE_PLACEHOLDER' | translate }}">

                <md-item-template>
                    <a  class="float-left">
                         <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i" class="float-left">
                            {{event.event.name}} <a class="float-right">{{SELL_TICKET | translate}}</a>
                         </span>
                    </a>
                </md-item-template>

                <md-not-found>
                    No events matching "{{ctrl.searchText}}" were found.
                </md-not-found>

            </md-autocomplete>

            <a class="sell-form-link tracking"
               id="lb1"
               data-ng-click="focusSearch = true; directive.track('cl,lb1')"
               data-ng-show="ctrl.searchText.length == 0 || !ctrl.searchText">
                ← {{ 'INPUT_LANDING_PAGE_TEXT' | translate }}
            </a>

        </div>
    </form>

</div>

<div class="column large-12 padding0"
     style="min-height: 300px; margin-top: 600px; background: white"
     data-ng-controller="eventsController"
     data-ng-init="controller.findNearActualPosition(0,12)">
    <div class="event-min-container">
        <event-min class="float-left column small-12 medium-6 large-4 fade "
                   data-ng-repeat="event in events | limitTo: limit">
        </event-min>
    </div>

</div>
