<div class="image-container">
    <div class="column large-12 padding0">
        <h1 class="home-title column medium-8 medium-offset-2 large-6 large-offset-3">
            <b>{{ 'HEADLINE' | translate }}</b>
        </h1>
    </div>

    <h4 class="home-subtitle column padding0">
        {{ 'INTRO_TEXT' | translate }}
    </h4>

    <form class="column medium-10 medium-offset-1 large-8 large-offset-2 sell-form absolute">
        <div class="form-container tracking" data-ng-controller="eventsController">

            <md-autocomplete md-search-text-change="controller.findMaybeSalableEventsContaining(ctrl.searchText)"
                             md-search-text="$parent.ctrl.searchText"
                             md-selected-item-change="ctrl.selectedItemChange(item)"
                             md-items="item in maybeSalableEvents"
                             md-item-text="item.display"
                             md-min-length="0"
                             class="sell-input tracking"
                             id="li1"
                             tracker="in,li1,{{ctrl.searchText}}"
                             focus="{{focusSearch}}"
                             placeholder="{{ 'INPUT_LANDING_PAGE_PLACEHOLDER' | translate }}">

                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i" class="float-left">
                        {{item.event.name}}
                    </span>
                    <a data-ng-show="item.isSalable" class="float-right">Vendez votre billet</a>
                    <a data-ng-show="!item.isSalable" class="float-right">Nous n'achetons pas de billets</a>
                </md-item-template>

                <md-not-found>
                    No states matching "{{ctrl.searchText}}" were found.
                    <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                </md-not-found>

            </md-autocomplete>

            <a class="sell-form-link tracking"
               id="lb1"
               data-ng-click="focusSearch = true; directive.track('cl,lb1')"
               data-ng-show="ctrl.searchText.length == 0 || !ctrl.searchText">
                ← {{ 'INPUT_LANDING_PAGE_TEXT' | translate }}
            </a>

        </div>
    </form>

</div>

<div class="column large-12 padding0"
     style="min-height: 300px; margin-top: 600px; background: white"
     data-ng-controller="eventsController"
     data-ng-init="controller.findNearActualPosition(0,12)">
    <!--<div class="md-whiteframe-z1 column large-12">
        <h1 class="column large-12">{{ 'PROXIMITY_EVENTS_HEADER' | translate }}</h1>
        <h2 class="column large-2">{{ 'ADVANCED_SEARCH_HEADER' | translate }}: </h2>
        <div class="column large-6 float-left" ng-include="'assets/templates/events/eventForms.html'"></div>
    </div>-->
    <div class="event-min-container">
        <event-min class="float-left column small-12 medium-6 large-4 fade "
                   data-ng-repeat="event in testEvents | limitTo: limit">
        </event-min>
    </div>

</div>
