<!-- require search component-->
<top-search-block
     class="column fixed padding0">
    <search-bar-contener id="searchTopBlock" ng-if="$root.path == 'home' || $root.path == 'search'"
         ng-class="{'hiddenBlock': $root.path != 'search','paddingTop50': $root.window == 'small'}">
        <ng-search-bar class="column large-8 medium-10 large-offset-2 medium-offset-1"
                       ng-class="{'padding0': $root.window == 'small'}">
        </ng-search-bar>
    </search-bar-contener>
</top-search-block>