<md-content class="column">
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
        <md-tab label="{{ 'EVENTS' | translate }}">
            <md-content  class="width100p float-left marginTop10">
                <div data-ng-repeat="event in organizer.events">
                    <h2>sqdqsd</h2>
                </div>
                <event-min class="column large-4 medium-6 float-left fade margin0"
                           data-ng-repeat="event in organizer.events | orderBy: 'startTime'">
                </event-min>
                <div layout="row"
                     class="column large-12" layout-sm="column" layout-align="space-around"
                     data-ng-if="loadEvents">
                    <md-progress-circular md-mode="indeterminate">

                    </md-progress-circular>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="{{ 'PAST_EVENTS' | translate }}">
            <md-content  class="width100p float-left marginTop10">
                <event-min class="column large-4 medium-6 float-left fade margin0"
                           data-ng-repeat="event in passedEvents">
                </event-min>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
