<md-input-container>
    <label>Offset</label>
    <input type="number" ng-model="offset" data-ng-init="offset = 0" />
</md-input-container>
<md-input-container>
    <label>numberToReturn</label>
    <input type="number" ng-model="numberToReturn" data-ng-init="numberToReturn = 10" />
</md-input-container>
<md-input-container>
    <label>Lat</label>
    <input type="number" step="0.000001"
           ng-model="controller.initLat"/>
</md-input-container>
<md-input-container>
    <label>Lng</label>
    <input type="number" step="0.000001"
           ng-model="controller.initLng"/>
</md-input-container>
<md-input-container>
    <label>hourInterval</label>
    <input type="number"
           ng-model="hourInterval" ng-init="hourInterval = 24"/>
</md-input-container>
<md-button type="submit" class="md-raised md-primary">Valider</md-button>
<md-button ng-show="nav" ng-click="offset = offset + numberToReturn" type="submit" class="md-raised md-primary">Next</md-button>
<md-button ng-show="offset > 0 && nav" ng-click="offset = offset - numberToReturn" type="submit" class="md-raised md-primary">Prev</md-button>