<a href="#/events/{{event.event.id}}" class="tracking" tracker="{{toTrack}}"
   data-ng-click="toTrack='a,/events/'+event.event.id">
    <img data-ng-src="{{ event.event.imagePath}}" class="width100p"
         data-on-error-src="assets/images/caroussel1.gif" data-ng-if="event.event.imagePath"/>
    <img src="assets/images/caroussel1.gif"
         data-ng-if="!event.event.imagePath" class="min"/>
</a>

<span class="tracking event-min-title">
    <span>
        <player-control class="event-min-player"
                        ng-click="directive.setEventPlaylist(event)"
                        ng-if="(event.artists | filter: true).length">
            <i class="fi-play tracking"
               tracker="{{playerTrack}}"
               id="emb1"
               data-ng-click="playerTrack='cl,emb1'"></i>
        </player-control>

        <div class="flex paddingLeft10">

            <h3 class="width100p float-left margin0">
                <b>
                    <a href="#/events/{{event.event.id}}" class="tracking textColorWhite "
                       tracker="{{toTrack}}"
                       data-ng-click="toTrack='a,/events/'+event.event.id">
                        {{ ((event.event.name).toLowerCase() | limitTo: 20).trim() }}{{ event.event.name.length > 20 ? '...' : '' }}
                    </a>
                </b>
            </h3>

            <div class="event-min-date-and-place">
                <b class="event-min-start-date-time">
                    {{ event.event.startTime | date:'dd/MM' }} - {{ event.event.startTime | date:'HH:mm' }}
                </b>

                <span data-ng-repeat="place in event.places" class="float-left">
                    <b class="event-min-place-name">
                        <a href="#/places/{{ place.place.id}}" class="tracking" tracker="{{toTrack}}"
                           data-ng-click="toTrack='a,/places/'+place.place.id">
                            {{ place.place.name | limitTo: 25 }}
                        </a>

                        <span data-ng-if="event.addresses[0].city">
                            ({{ event.addresses[0].city }})
                        </span>
                    </b>
                </span>


                <div class="event-min-tariff" data-ng-if="event.event.tariffRange">
                    <b>{{ event.event.tariffRange.split("-")[0] }} €</b>
                </div>

            </div>

        </div>
    </span>
</span>


<figcaption>
    <p class="icon-links">
        <a class="column small-6 margin0 md-button">{{ 'BUY_TICKET' | translate }}</a>
        <a class="column small-6 margin0 md-button">{{ 'SELL_TICKET' | translate }}</a>
    </p>
</figcaption>