.chat-form {
  z-index: 999;
}

#ccb1 {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 1;
}
.close-icon {
  float: right;
}

contact-component > div.full {
  animation-duration: .3s;
  animation-name: zoomIn;
  box-shadow: -1px 0px 5px 0px #888888;
  height: 100%;
}

.contact-button {
  background-color: $info-color !important;
}

.contact-button-container {
  bottom: 5px;
  position: fixed;
  right: 5px;
}

.contact-component {
  background-color: transparent;
  padding: 0 !important;
  min-height: 100px;
}

.contact-component > div.ng-enter {
  animation-duration: .4s;
  animation-name: zoomIn;
}

.contact-component > div.full {
  height: 100%;

  .chat-form {
    bottom: 0;
    position: absolute;
  }
}

.contact-component > div.ng-leave {
  animation-duration: 1s;
  animation-name: zoomOut;
  bottom: 50px;
  left: 0;
  position: absolute;
}

.contact-text-input {
  border: 1px solid #51cbee !important;
  border-radius: 4px !important;
  box-shadow: (0 0 1px #51cbee) !important;
}

.contact-tooltip {
  float: left;
  padding: 10px;
  background: white;
}

.inner-contact-tooltip.full {
  width: 100%;
  bottom: 0;
}

.inner-contact-tooltip {
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 90px;
  z-index: 2;
}

.messageFromUser {
  background-color: $primary-color;
  border-radius: 5px;
  display: block;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
  padding: 5px 15px 5px;
  max-width: 100%;
  word-wrap: break-word;
}

.messageFromUs {
  background-color: $success-color;
  border-radius: 5px;
  display: block;
  float: right!important;
  text-align: left;
  padding: 5px 15px 5px;
  max-width: 100%;
  word-wrap: break-word;
}

.messageFromUs:before {
  content: "";
  position: absolute;
  right: 2px;
  border-style: solid;
  border-width: 4px 8px 10px 7px;
  border-color: transparent;
  border-bottom-color: $success-color;
  display: block;
  width: 0;
  z-index: 1;
  top: 32%;
  transform: rotate(90deg);
}

.messageFromUser:before {
  content: "";
  position: absolute;
  left: 2px;
  border-style: solid;
  border-width: 4px 8px 10px 7px;
  border-color: transparent;
  border-bottom-color: $primary-color;
  display: block;
  width: 0;
  z-index: 1;
  top: 32%;
  transform: rotate(-90deg);
}

