<a class=" mapControls" ng-click="moreZoom()"><i class="fi-plus"></i></a>
<a class=" mapControls" ng-click="lessZoom()"><i class="fi-minus"></i></a>
<a class=" mapControls" ng-click="getItineraire(); selectTravel = !selectTravel">
    <i class="fa fa-road"></i>
</a>
<b>
    {{directionInfos.distance.text}}
    {{directionInfos.duration.text}}
</b>
<span ng-if="selectTravel" class="width100p float-left ">
    {{$root.infoDirection}}
    <a class="mapControls column small-4" ng-class="{'active': $parent.travelMode == 'WALKING'}"
       ng-click="changeTravelMode('WALKING')">
        <i class="fi-blind"></i>
    </a>
    <a class=" mapControls column small-4" ng-class="{'active': $parent.travelMode == 'BICYCLING'}"
       ng-click="changeTravelMode('BICYCLING')">
        <i class="fa fa-bicycle"></i>
    </a>
    <!--<a class="button mapControls" ng-class="{'active': $parent.travelMode == 'TRANSIT'}"
       ng-click="changeTravelMode('TRANSIT')">
        Transit
    </a>-->
    <a class="mapControls column small-4" ng-class="{'active': $parent.travelMode == 'DRIVING'}"
       ng-click="changeTravelMode('DRIVING')">
        <i class="fa fa-car"></i>
    </a>
</span>