<div id="searchBlock" class="right left absolute" ng-if="$root.path != 'search'">
    <div class="column large-2 medium-1" ng-if="$root.window != 'small'">
        <i class="float-right fi-claude" style="height: 80px;width: 80px;"></i>
    </div>
    <ng-search-bar class="column large-8 medium-10 float-left"></ng-search-bar>
</div>
<div class="paddingTop20"
     ng-show="(events.length > 0 && $root.activEvent ) || (artists.length > 0 && $root.activArtist)||
    (places.length > 0 && $root.activPlace) || (organizers.length > 0 && $root.activUsr) ||
     (artistsFb.length > 0 && $root.activArtist) || (filtredEvents.length > 0 && $root.activEvent) ||
      loadingMore || loadingFbArt">
    <div id="events_contener" ng-class="{'paddingTop50 marginTop50': $root.path == 'search'}">
        <event-min ng-if="$root.activEvent && events.length > 0"
             class="float-left column small-12 medium-6 large-4 fade min_contener margin0"
             data-ng-repeat="event in events | limitTo: limit">
        </event-min>
        <event-min ng-if="$root.activEvent && filtredEvents.length > 0"
             class="float-left column small-12 medium-6 large-4 fade min_contener margin0"
             data-ng-repeat="event in filEvents = (filtredEvents | filter: searchPat) | limitTo: limit">
        </event-min>
        <artist-min ng-if="$root.activArtist && artists.length > 0"
             class="column large-4 medium-6 float-left marginBottom20 fade marginLeft0
             marginRight0 minNoText"
             data-ng-repeat="artist in artists | limitTo: limit"
             style="padding-bottom: 10px;">
        </artist-min>
        <artist-facebook-min class="column large-4 medium-6 float-left fade marginBottom20 marginLeft0 marginRight0
        minNoText"
             ng-if="$root.activArtist && artistsFb.length > 0"
             data-ng-repeat="artist in filteredArtistFb =  (artistsFb | filter: searchPat) | limitTo: limit"
             style="padding-bottom: 10px;">
        </artist-facebook-min>
        <div layout="row" layout-sm="column" layout-align="space-around" class="column large-12"
             ng-if="loadingFbArt && !loadingMore">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <place-min class="column large-4 medium-6 float-left fade marginBottom20 marginLeft0 marginRight0
        minNoText"
             ng-if="$root.activPlace && places.length > 0"
             style="padding-bottom: 10px;"
             data-ng-repeat="place in filteredPlaces = (places | filter: searchPat) | limitTo: limit" >
        </place-min>
        <organizer-min class="column large-4 medium-6 float-left fade marginBottom20 marginLeft0 marginRight0
        minNoText"
             ng-if="$root.activUsr && organizers.length > 0"
             data-ng-repeat="organizer in filteredorganizers = (organizers | filter: searchPat) | limitTo: limit">
        </organizer-min>
    </div>
    <div layout="row" class="column large-12" layout-sm="column" layout-align="space-around" ng-if="loadingMore">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="column large-12" ng-show="(events.length + filtredEvents.length >= limit && $root.activEvent ) || (artists.length >= limit && $root.activArtist)||
    (places.length >= limit && $root.activPlace) || (organizers.length >= limit && $root.activUsr) ||
     (artistsFb.length >= limit && $root.activArtist)"
         layout="row" layout-align="center center">
        <button ng-click="moreLimit()" class="column large-5">
            Voir plus
        </button>
    </div>
</div>

