<form ng-submit="controller.createTicketToSale(qrCode, eventId, tariffId)">
    <md-input-container>
        <label>EventId</label>
        <input type="number" ng-model="eventId" />
    </md-input-container>
    <md-input-container>
        <label>TariffId</label>
        <input type="number" ng-model="tariffId" />
    </md-input-container>
    <md-input-container>
        <label>QrCode</label>
        <input type="text" ng-model="qrCode" />
    </md-input-container>
    <md-button class="md-primary mad-raised" type="submit">Valider</md-button>
</form>