<div class="float-left width100p">
    <div class="column small-1 padding0 text-center float-right marginTop10"
       style="border-left:solid 1px rgba(0, 0, 0, 0.45);  height:70px;">
        <i class="fa fa-times column large-12 padding0 pointer"
           style="line-height: 23.33px"
           ng-click="closeTrack($index)">
            <md-track-tooltipe>
                Supprimer de la lecture en cours
            </md-track-tooltipe>
        </i>
        <i class="fa fa-exclamation column large-12 padding0 pointer"
           style="line-height: 23.33px"
           ng-click="signalTrack(track.id); closeTrack($index)">
            <md-track-tooltipe>
                signaler
            </md-track-tooltipe>
        </i>
        <i class="fa fa-star column large-12 padding0 pointer"
           style="line-height: 23.33px"
           ng-if="!track.isFavorite || $root.connected == false"
           ng-click="addTrackToFavorite(track.id); track.isFavorite = true">
            <md-track-tooltipe>
                Ajouter aux favoris
            </md-track-tooltipe>
        </i>
        <i class="fa fa-star column large-12 padding0 pointer favoriteActive"
           style="line-height: 23.33px"
           ng-if="track.isFavorite && $root.connected == true"
           ng-click="removeFromFavorites(track.id); track.isFavorite = false">
            <md-track-tooltipe>
                Supprimer des favoris
            </md-track-tooltipe>
        </i>
    </div>
    <div class="column small-11">
        <div class="img-circularPlayer" style="background-image: url('{{track.thumbnailUrl}}');">
            <i class="fi-play playInImg" ng-if="track != trackActive" ng-click="$root.play($index + indexToStart)"></i>
            <i class="fi-pause pauseInImg" ng-if="track == trackActive"
               ng-class="{'fi-pause': onPlay, 'fi-play': !onPlay}" ng-click="playPause()"></i>
        </div>
        <div as-sortable-item-handle class="trackInfos">
            <a href="#/artists/{{track.artist.facebookUrl}}">{{track.artist.name}}</a><br/>
            {{track.title | limitTo: 32}}<b ng-if="track.title.length > 32">...</b>
            <a target="_blank" href="http://{{track.redirectUrl}}"
               class="column small-2 padding0 float-right"
               style="font-size: 27px;"
               ng-if="track.platform == 's'">
                <i style="display: block" class="fa fa-soundcloud"></i>
            </a>
            <a href="https://youtube.com/watch?v={{track.url}}"
               style="font-size: 27px;"
               ng-if="track.platform == 'y'"
               target="_blank"
                    class="float-right column small-2 padding0">
                <i style="display: block" class="fa fa-youtube"></i>
            </a>
        </div>
    </div>
</div>