<i class="fa fa-star absolute pointer"
   ng-if="!track.isFavorite"
   ng-click="addTrackToFavorite(track.trackId); track.isFavorite = true">
    <md-track-tooltipe>
        Ajouter aux favoris
    </md-track-tooltipe>
</i>
<i class="fa fa-star absolute pointer favoriteActive"
   ng-if="track.isFavorite"
   ng-click="removeFromFavorites(track.trackId); track.isFavorite = false">
    <md-track-tooltipe>
        Supprimer des favoris
    </md-track-tooltipe>
</i>
<i class="fi-x-circle absolute top0 iClose pointer" ng-click="closeTrack($index)">
    <md-track-tooltipe>
        Supprimer de la lecture en cours
    </md-track-tooltipe>
</i>
<i class="fi-x absolute top20 iSignal" ng-click="signalTrack(track.trackId); closeTrack($index)">
    <md-track-tooltipe>
        signaler
    </md-track-tooltipe>
</i>
<div class="img-circularPlayer" style="background-image: url('{{track.thumbnailUrl}}');">
    <i class="fi-play playInImg" ng-if="track != trackActive" ng-click="$root.play($index)"></i>
    <i class="fi-pause pauseInImg" ng-if="track == trackActive"
       ng-class="{'fi-pause': onPlay, 'fi-play': !onPlay}" ng-click="playPause()"></i>
</div>
<div as-sortable-item-handle class="trackInfos">
    <a href="#/artists/{{track.artist.facebookUrl}}">{{track.artist.name}}</a><br/>
    {{track.title | limitTo: 32}}<b ng-if="track.title.length > 32">...</b><br/>
    <a target="_blank" href="{{track.redirectUrl}}"
       class="column small-2 padding0"
       style="font-size: 27px;"
       ng-if="track.platform == 's'">
        <i style="display: block" class="fi-soundcloud"></i>
    </a>
    <a href="https://youtube.com/watch?v={{track.url}}"
       style="font-size: 27px;"
       ng-if="track.platform == 'y'"
       target="_blank">
        <i style="display: block" class="fi-social-youtube"></i>
    </a>
</div>