<div class="column large-12 arTrack">
    <i class="fa fa-star absolute pointer left"
       ng-if="!track.isFavorite || $root.connected == false"
       ng-click="addTrackToFavorite(track.trackId); track.isFavorite = true">
        <md-track-tooltipe>
            Ajouter aux favoris
        </md-track-tooltipe>
    </i>
    <i class="fa fa-star absolute pointer favoriteActive left"
       ng-if="track.isFavorite && $root.connected == true"
       ng-click="removeFromFavorites(track.trackId); track.isFavorite = false">
        <md-track-tooltipe>
            Ajouter aux favoris
        </md-track-tooltipe>
    </i>
    <div class="column small-1 padding0 text-center float-right marginTop10"
         style="border-left:solid 1px rgba(0, 0, 0, 0.45);  height:70px;">
        <i class="fi-x column medium-12 padding0 pointer"
           ng-click="signalTrack(track.trackId, $index)">
            <md-track-tooltipe>
                Signaler
            </md-track-tooltipe>
        </i>
        <i class="fi-play column medium-12 padding0 pointer"
           ng-click="$root.addAndPlay([track], artist)">
            <md-track-tooltipe>
                Lire
            </md-track-tooltipe>
        </i>
        <i class="fi-plus column medium-12 padding0 pointer"
           ng-click="$root.addToPlaylist([track], artist)">
            <md-track-tooltipe>
                Ajouter à la lecture en cours
            </md-track-tooltipe>
        </i>
    </div>
    <div ng-if="track.thumbnailUrl != undefined"
         class="img-circularPlayer"
         style="background-image: url('{{track.thumbnailUrl}}');"
         ng-class="{'padding0 margin0': $root.window == 'small'}">
        <i class="fi-play playInImg"
           ng-click="$root.addToPlaylist([track], artist)">
        </i>
    </div>
    <div ng-class="{'column medium-7': $root.window != 'small'}"
         style="overflow: hidden; height: 48px;">
        <h3>{{track.title}}</h3>
        <md-track-tooltipe>
            {{track.title}}
        </md-track-tooltipe>
    </div>
    <a target="_blank"
       href="{{track.redirectUrl}}"
       class="column small-7"
       ng-class="{'float-left': $root.window != 'small'}"
       style="font-size: 27px;" ng-if="track.platform == 's'">
        <i style="display: block"
           ng-class="{'float-right': $root.window == 'small'}"
           class="fi-soundcloud"></i>
    </a>
    <a href="https://youtube.com/watch?v={{track.url}}"
       class="column small-7"
       ng-class="{'float-left': $root.window != 'small'}"
       style="font-size: 27px;"
       ng-if="track.platform == 'y'"
       target="_blank">
        <i style="display: block" ng-class="{'float-right': $root.window == 'small'}"
           class="fi-social-youtube"></i>
    </a>
</div>