<div class="column large-12 arTrack">
    <i class="fa fa-star absolute pointer left"
       ng-if="!track.isFavorite || $root.connected == false"
       ng-click="addTrackToFavorite(track); track.isFavorite = true"
            style="margin: 5px">
        <md-track-tooltipe>
            Ajouter aux favoris
        </md-track-tooltipe>
    </i>
    <i class="fa fa-star absolute pointer favoriteActive left"
       ng-if="track.isFavorite && $root.connected == true"
       style="margin: 5px"
       ng-click="removeFromFavorites(track.uuid); track.isFavorite = false">
        <md-track-tooltipe>
            Supprimer des favoris
        </md-track-tooltipe>
    </i>
    <div class="column small-1 padding0 text-center float-right"
         style="border-left:solid 1px rgba(0, 0, 0, 0.45);  height:70px; margin-top: 10px">
        <i class="fa fa-exclamation column medium-12 padding0 pointer"
           ng-click="signalTrack(track.uuid, $index)"
           style="line-height: 24.66px"
                >
            <md-track-tooltipe class="right">
                Signaler
            </md-track-tooltipe>
        </i>
        <i class="fa fa-play column medium-12 padding0 pointer"
           ng-click="$root.addAndPlay([track])"
           style="line-height: 24.66px">
            <md-track-tooltipe class="right">
                Lire
            </md-track-tooltipe>
        </i>
        <i class="fa fa-plus column medium-12 padding0 pointer"
           ng-click="$root.addToPlaylist([track])"
           style="line-height: 24.66px">
            <md-track-tooltipe class="right">
                Ajouter à la lecture en cours
            </md-track-tooltipe>
        </i>
    </div>
    <div ng-if="track.thumbnailUrl != undefined"
         class="img-circularPlayer zIndex1"
         style="background-image: url('{{track.thumbnailUrl}}');"
         ng-class="{'padding0 margin0': $root.window == 'small'}">
        <i class="fi-play playInImg"
           ng-click="$root.addToPlaylist([track])">
            <md-track-tooltipe>
                Ajouter à la lecture en cours
            </md-track-tooltipe>
        </i>
    </div>
    <a href="#/artists/{{track.artistFacebookUrl}}" style="font-size: 13.5px">{{track.artistName}}</a>
    <div style="height: 70px; font-size: 13.5px; overflow: hidden;">
        <b>
            <span style="height: 100%; overflow: hidden;">{{track.title | limitTo: 40}}
                <span ng-if="track.title.length > 40">...</span>
            </span>
            <a target="_blank"
               href="http://{{track.redirectUrl}}"
               class="float-right"
               ng-class="{'float-left': $root.window != 'small'}"
               style="font-size: 27px;" ng-if="track.platform == 's'">
                <i style="display: block; margin: 5px;"
                   ng-class="{'float-right': $root.window == 'small'}"
                   class="fa fa-soundcloud">
                    <md-track-tooltipe class="right">
                        Écouter sur Soundcloud
                    </md-track-tooltipe>
                </i>
            </a>
            <a href="https://youtube.com/watch?v={{track.url}}"
               class="float-right"
               ng-class="{'float-left': $root.window != 'small'}"
               style="font-size: 27px;"
               ng-if="track.platform == 'y'"
               target="_blank">
                <i style="display: block; margin: 5px;" ng-class="{'float-right': $root.window == 'small'}"
                   class="fa fa-youtube">
                    <md-track-tooltipe class="right">
                        Écouter sur Youtube
                    </md-track-tooltipe>
                </i>
            </a>
        </b>
    </div>
</div>