<div class="column large-12">
    <a ng-click="connectLink('http://localhost:9000/authenticate/facebook')"> <img src="/assets/securesocial/images/providers/facebook.png"></a>
    <a ng-click="connectLink('http://localhost:9000/authenticate/google')"> <img src="/assets/securesocial/images/providers/google.png"></a>
    <a ng-click="authMail = !authMail">Auth by mail</a>
</div>
<form ng-if="!signUp && authMail" ng-submit="connectByMail()" class="column large-12" autocomplete="off">
    <fieldset>
        <div class="column large-12" id="username_field">
            <label class="control-label" for="username">Email</label>
            <div class="column large-12">
                <input type="text" id="username" name="username" ng-model="username" value="" class="input-xlarge">
                <span class="help-block">Required</span>
            </div>
        </div>
        <div class="column large-12" id="password_field">
            <label class="control-label" for="password">Password</label>
            <div class="column large-12">
                <input type="password" id="password" name="password" ng-model="password" class="input-xlarge">
                <span class="help-block">Required</span>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">Login</button>
        </div>
        <div class="clearfix">
            <a href="/reset"></a><p><a href="/reset">Did you forget your password? </a></p>
        </div>
        <div class="clearfix">
            <p>If you don't have an account with us yet you can sign up <a ng-click="$parent.signUp = !$parent.signUp">here</a></p>
        </div>
    </fieldset>
</form>
<form ng-if="signUp" action="http://localhost:9000/signup" class="form-horizontal" autocomplete="off" method="post">
    <fieldset>
        <div class="column large-12  " id="email_field">
            <label class="control-label" for="email">Email</label>
            <div class="column large-12">
                <input type="text" id="email" name="email" value="" class="input-xlarge">
                <span class="help-block">Email, Required</span>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">Create Account</button>
            <a class="btn" ng-click="$parent.signUp = !$parent.signUp">Cancel</a>
        </div>
    </fieldset>
</form>