<div class="block_event_min">
    <div class="img_min_evnt" style="height: 100px">
        <div class="toGrow">
            <a href="#/event/{{event.eventId}}">
                <img src="{{ event.imagePath }}" class="width100p" alt="yo"/>
            </a>
        </div>
        <a href="#/event/{{event.eventId}}">
            <h3 style="overflow: hidden; border-color: {{event.priceColor}}" class="minTitle">
                {{ event.name }}
            </h3>
        </a>
    </div>
    <div class=" text_evnt_min" >
        <i  style="font-size: 30px; color: {{event.priceColor}};"
            class="fi-calendar">
        </i>
        <b style="vertical-align: text-bottom;">
            {{ event.startTime | date:'dd/MM' }}
            <i>à</i>
            {{ event.startTime | date:'HH:mm' }}
        </b>
        <i ng-show="event.endTime">au
            <b> {{ event.endTime | date:'dd/MM' }} </b>
            à
            <b> {{ event.endTime | date:'HH:mm' }} </b>
        </i>
        <i ng-if="$root.window == 'small'" style="color: {{event.priceColor}}; font-size: 30px;"
           class="float-right  fa fa-chevron-down"
           ng-click="$parent.showEventDetail = !$parent.showEventDetail">
       </i>
        <span ng-show="$root.window != 'small' || showEventDetail">
            <div class="img-circularPlayer float-right"
                 ng-if="event.tariffRange != undefined"
                 style="background: {{event.priceColor}}; padding-top: 26px; color: #ffffff; text-align: center;">
                <b>{{event.tariffRange}}</b>
            </div>
            <br/>
            <div class="infos_event">
                <span class="dropDown" data-ng-repeat="place in event.places">
                    <i class="fa fa-map-marker" style="font-size: 30px; color: {{event.priceColor}};"></i>
                    <b style="vertical-align: text-bottom;">
                        <a href="#/lieu/{{ place.placeId }}">{{place.name | limitTo: 25}} </a>
                    </b>
                    <ul class="f-dropdown" ng-if="$root.window != 'small' && $root.window != 'medium'">
                        <div>
                            <div style='height:112.8px; overflow:hidden;'>
                                <a href="#/lieu/{{ place.placeId }}" >
                                    <img src="{{ place.imagePath }}" ng-if="place.imagePath.length > 0"/>
                                    <map ng-if="place.imagePath.length == 0 ||
                                    place.imagePath == undefined && showMap"
                                         zoom="14"
                                         center="[{{place.geographicPoint}}]"
                                         scrollwheel="false"
                                         navigationControl="false"
                                         mapTypeControl="false"
                                         scaleControl="false"
                                         styles="[
                                     {
                                         stylers:[
                                             {hue:'#00654C'},
                                             {visibility:'simplified'},
                                             {gamma:0.5},
                                             {weight:0.5}
                                         ]
                                     },
                                     {
                                        elementType:'labels',
                                        stylers:[
                                            {visibility:'off'}
                                        ]
                                    },
                                    {featureType:'water',
                                        stylers:[
                                            {color:'#008CBA'}
                                        ]
                                    }
                                ]"
                                         class="width100p img_min_evnt">
                                        <marker visible="true" position="{{place.geographicPoint}}">
                                        </marker>
                                    </map>
                                </a>
                            </div>
                            <b>
                                <a href="#/lieu/{{ place.placeId }}">
                                    <h3 class='column large-6'>{{ place.name}}</h3>
                                </a>
                            </b>
                            <button style='margin-top:5px; float:right'>Suivre</button>
                        </div>
                    </ul>
                </span>
            </div>
            <div class="infos_event">
                <span class="dropDown" ng-show="organizer.name != event.places[0].name"
                      data-ng-repeat="organizer in event.organizers">
                    <i class="fa fa-user" style="font-size: 30px; color: {{event.priceColor}};"></i>
                    <b style="vertical-align: text-bottom;">
                        <a href="#/user/{{organizer.organizerId}}">{{organizer.name | limitTo: 25}} </a>
                    </b>
                    <ul class="f-dropdown" ng-if="$root.window != 'small' && $root.window != 'medium'">
                        <div>
                            <div style='height:112.8px; overflow:hidden;'>
                                <a href='#/user/{{organizer.organizerId}}'>
                                    <img src='{{ organizer.imagePath }}'/>
                                </a>
                            </div>
                            <b>
                                <a href='#/user/{{organizer.organizerId}}'>
                                    <h3 class='column large-6'>{{organizer.name}}</h3>
                                </a>
                            </b>
                            <button style='margin-top:5px; float:right'>Suivre</button>
                        </div>
                    </ul>
                </span>
            </div>
            <div class="description_event_min" style="height: 60px;">
                <a ng-repeat="genre in filteredGenres = (event.genres | filter: filterQuery)" class="ng-hide">{{genre.name}}</a>
                <span class="dropDown float-left"
                      data-ng-repeat="artist in event.artists">
                    <a href="#/artiste/{{artist.facebookUrl}}">
                        <h3 style="color: {{event.priceColor}};" class="float-left margin0"
                                ng-mouseover="showDrop = true;">
                            {{ artist.name }}
                            <b ng-show="$index != event.artists.length - 1"> -&nbsp;</b>
                        </h3>
                    </a>
                    <ul class="f-dropdown marginTop30"
                        ng-class="{'left right': $index > 0 && $parent.showDrop == true}"
                        ng-mouseleave="$parent.showDrop = false;"
                        ng-if="$root.window != 'small' && $root.window != 'medium'">
                        <div>
                            <div style='height:112.8px; overflow:hidden;'>
                                <a href="#/artiste/{{artist.facebookUrl}}">
                                    <img src='{{ artist.imagePath }}'/>
                                </a>
                            </div>
                            <a href="#/artiste/{{artist.facebookUrl}}">
                                <h3 class='column large-6'>{{artist.name}}</h3>
                            </a>
                            <button style='margin-top:5px; float:right'>Suivre</button>
                            <div class="img-circularPlayer float-right"
                                 ng-if="artist.tracks.length > 0"
                                 style="background: {{event.priceColor}}">
                                <i class="pauseInImg fi-play"
                                   ng-click="$root.addAndPlay(artist.tracks, artist)"></i>
                            </div>
                        </div>
                    </ul>
                </span>
                <!--<a ng-repeat="genre in filteredEventGenre = (event.genres | filter: name: filterQuery)"
                        >{{genre.name}}</a>-->
            </div>
        </span>
    </div>
</div>