<div class="block_event_min">
    <div class="img_min_evnt" style="height: 100px">
        <div class="toGrow">
            <a href="#/event/{{event.eventId}}">
                <img src="{{ event.imagePath }}" class="width100p" alt="yo"/>
            </a>
        </div>
        <a href="#/event/{{event.eventId}}">
            <h3 style="overflow: hidden; border-color: {{event.priceColor}}" class="minTitle">
                {{ event.name }}
            </h3>
        </a>
    </div>
    <div class=" text_evnt_min" >
        <i  style="font-size: 30px; color: {{event.priceColor}};"
            class="fi-calendar">
        </i>
        <b style="vertical-align: text-bottom;">
            {{ event.startTime | date:'dd/MM' }}
            <i>à</i>
            {{ event.startTime | date:'HH:mm' }}
        </b>
        <i ng-show="event.endTime">au
            <b> {{ event.endTime | date:'dd/MM' }} </b>
            à
            <b> {{ event.endTime | date:'HH:mm' }} </b>
        </i>
        <i ng-if="$root.window == 'small'" class="float-right fi-plus"
           ng-click="$parent.showEventDetail = !$parent.showEventDetail">
       </i>
        <span ng-show="$root.window != 'small' || showEventDetail">
            <div class="img-circularPlayer float-right"
                 ng-if="event.tariffRange != undefined"
                 style="background: {{event.priceColor}}; padding-top: 26px; color: #ffffff; text-align: center;">
                <b>{{event.tariffRange}}</b>
            </div>
            <br/>
            <div class="infos_event">
                <span class="dropDown" data-ng-repeat="organizer in event.organizers">
                    Par
                    <a href="#/user/{{organizer.organizerId}}">{{organizer.name | limitTo: 25}} </a>
                    <ul class="f-dropdown" ng-if="$root.window != 'small' && $root.window != 'medium'">
                        <div>
                            <div style='height:112.8px; overflow:hidden;'>
                                <a href='#/user/{{organizer.organizerId}}'>
                                    <img src='{{ organizer.imagePath }}'/>
                                </a>
                            </div>
                            <a href='#/user/{{organizer.organizerId}}'>
                                <h4 class='column large-6'>{{organizer.name}}</h4>
                            </a>
                            <button style='margin-top:5px; float:right'>Suivre</button>
                        </div>
                    </ul>
                </span>
            </div>
            <div class="infos_event">
                <span class="dropDown" data-ng-repeat="place in event.places">
                @
                <a href="#/lieu/{{ place.placeId }}">{{place.name | limitTo: 25}} </a>
                <ul class="f-dropdown" ng-if="$root.window != 'small' && $root.window != 'medium'">
                    <div>
                        <div style='height:112.8px; overflow:hidden;'>
                            <a href="#/lieu/{{ place.placeId }}" >
                                <img src="{{ place.imagePath }}" ng-if="place.imagePath.length > 0"/>
                            </a>
                        </div>
                        <a href="#/lieu/{{ place.placeId }}">
                            <h4 class='column large-6'>{{ place.name}}</h4>
                        </a>
                        <button style='margin-top:5px; float:right'>Suivre</button>
                    </div>
                </ul>
            </div>
            <div class="description_event_min">
                <a ng-repeat="genre in filteredGenres = (event.genres | filter: filterQuery)" class="ng-hide">{{genre.name}}</a>
                <a href="#/artiste/{{artist.facebookUrl}}" data-ng-repeat="artist in event.artists">
                    {{ artist.name }}
                </a>
                <!--<a ng-repeat="genre in filteredEventGenre = (event.genres | filter: name: filterQuery)"
                        >{{genre.name}}</a>-->
            </div>
        </span>
    </div>
</div>