<div class="block_event_min">
    <div class="img_min_evnt" style="height: 100px">
        <div class="toGrow">
            <a href="#/event/{{event.eventId}}">
                <img src="{{ event.imagePath }}" class="width100p" alt="yo"/>
            </a>
        </div>
        <a href="#/event/{{event.eventId}}">
            <h3 style="overflow: hidden; border-color: {{event.priceColor}}" class="minTitle">
                {{ event.name }}
            </h3>
        </a>
    </div>
    <div class=" text_evnt_min" >
        <i  style="font-size: 30px; color: {{event.priceColor}};"
            class="fi-calendar">
        </i>
        <b style="vertical-align: text-bottom;">
            {{ event.startTime | date:'dd/MM' }}
            <i>à</i>
            {{ event.startTime | date:'HH:mm' }}
        </b>
        <i ng-show="event.endTime">au
            <b> {{ event.endTime | date:'dd/MM' }} </b>
            à
            <b> {{ event.endTime | date:'HH:mm' }} </b>
        </i>
        <i ng-if="$root.window == 'small'" style="color: {{event.priceColor}}; font-size: 30px;"
           class="float-right fa "
           ng-class="{'fa-chevron-down': !showEventDetail, 'fa-chevron-up': showEventDetail}"
           ng-click="$parent.showEventDetail = !$parent.showEventDetail">
       </i>
        <span ng-show="$root.window != 'small' || showEventDetail">
            <div class="img-circularPlayer float-right"
                 ng-if="event.tariffRange != undefined"
                 style="background: {{event.priceColor}}; padding-top: 26px; color: #ffffff; text-align: center;">
                <b>{{event.tariffRange}}</b>
            </div>
            <br/>
            <div class="infos_event">
                <span class="dropDown" data-ng-repeat="place in event.places">
                    <i class="fa fa-map-marker" style="font-size: 30px; color: {{event.priceColor}};"></i>
                    <b style="vertical-align: text-bottom;">
                        <a href="#/lieu/{{ place.placeId }}">{{place.name | limitTo: 25}} </a>
                    </b>
                    <ul class="f-dropdown" ng-if="$root.window != 'small' && $root.window != 'medium'">
                        <li style="display: block;"
                            class="float-left width100p paddingTop10 paddingBottom10
                            paddingRight10 marginBottom10 relative">
                            <a href="#/user/{{place.placeId}}"
                               class="absolute width100p height100p imgBlur"
                               style="display: block;
                                    background-image: url('{{place.imagePath}}');
                                    background-size: 100%"></a>
                            <a class="float-left relative" href="#/user/{{place.organizerId}}">
                                <h1 class="margin0"
                                    style="text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
                                    color: {{event.priceColor}};">
                                    {{place.name}}
                                </h1>
                            </a>
                            <button style='margin-top:5px; float:right'>Suivre</button>
                        </li>
                    </ul>
                </span>
            </div>
            <div class="infos_event">
                <span class="dropDown" ng-show="organizer.name != event.places[0].name"
                      data-ng-repeat="organizer in event.organizers">
                    <i class="fa fa-user" style="font-size: 30px; color: {{event.priceColor}};"></i>
                    <b style="vertical-align: text-bottom;">
                        <a href="#/user/{{organizer.organizerId}}">{{organizer.name | limitTo: 25}} </a>
                    </b>
                    <ul class="f-dropdown" ng-if="$root.window != 'small' && $root.window != 'medium'">
                        <li style="display: block;"
                            class="float-left width100p paddingTop10 paddingBottom10
                            paddingRight10 marginBottom10 relative">
                            <a href="#/user/{{organizer.organizerId}}"
                               class="absolute width100p height100p imgBlur"
                               style="display: block;
                                    background-image: url('{{organizer.imagePath}}');
                                    background-size: 100%"></a>
                            <a class="float-left relative" href="#/user/{{organizer.organizerId}}">
                                <h1 class="margin0"
                                    style="text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
                                    color: {{event.priceColor}};">
                                    {{organizer.name}}
                                </h1>
                            </a>
                            <button style='margin-top:5px; float:right'>Suivre</button>
                        </li>
                    </ul>
                </span>
            </div>
            <div class="description_event_min" style="height: 60px;">
                <a ng-repeat="genre in filteredGenres = (event.genres | filter: filterQuery)" class="ng-hide">{{genre.name}}</a>
                <span class="dropDown float-left"
                      data-ng-repeat="artist in event.artists">
                    <a href="#/artiste/{{artist.facebookUrl}}">
                        <h3 style="color: {{event.priceColor}};" class="float-left margin0"
                                ng-mouseover="showDrop = true;">
                            {{ artist.name }}
                            <b ng-show="$index != event.artists.length - 1"> -&nbsp;</b>
                        </h3>
                    </a>
                    <ul class="f-dropdown marginTop30"
                        ng-class="{'left right': $index > 0 && $parent.showDrop == true}"
                        ng-mouseleave="$parent.showDrop = false;"
                        ng-if="$root.window != 'small' && $root.window != 'medium'">
                        <li style="display: block;"
                            class="float-left width100p paddingTop10 paddingBottom10 paddingRight10 marginBottom10 relative">
                            <a href="#/artiste/{{artist.facebookUrl}}" class="absolute width100p height100p imgBlur"
                               style="display: block;
                                background-image: url('{{artist.imagePath}}');
                                background-size: 100%">

                            </a>
                            <a class="float-left relative" href="#/artiste/{{artist.facebookUrl}}">
                                <h1 class="margin0"
                                    style="text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
                                    color: {{event.priceColor}};">
                                    {{artist.name}}
                                </h1>
                            </a>
                            <div class="img-circularPlayer float-right marginTop20 relative"
                                 style="background: rgba(0, 0, 0, 0.42);">
                                <i class="pauseInImg ng-scope fi-play"
                                   style="color: {{event.priceColor}}; font-size: 80px;"
                                   ng-click="$root.addAndPlay(artist.tracks, artist)"></i>
                            </div>
                        </li>
                    </ul>
                </span>
                <!--<a ng-repeat="genre in filteredEventGenre = (event.genres | filter: name: filterQuery)"
                        >{{genre.name}}</a>-->
            </div>
        </span>
    </div>
</div>