<div class="footer_inner" ng-controller="footerCtrl">
    <div class="column large-4">
        <h1>Infos</h1>
        <a class="column large-12" ng-click="openIssues()">FAQ / Issues</a>
        <a class="column large-12">Contactez-nous</a>
        <a class="column large-12">Mentions légales</a>
        <a class="column large-12">Cookies</a>
    </div>
    <div class="column large-4">
        <h1>Api's</h1>
        <a href="http://www.facebook.com" target="_blank" class="column large-12">
            <i class="fi-social-facebook float-left marginRight10" style="font-size: 22px;width: 40px;"></i>
            <b>Facebook Api</b>
        </a>
        <a href="http://soundcloud.com" target="_blank" class="column large-12">
            <i class="fa fa-soundcloud float-left marginRight10"
                    style="color: white; font-size: 22px;width: 40px;"></i>
            <b>Soundcloud Api</b>
        </a>
        <a href="http://www.youtube.com" target="_blank" class="column large-12">
            <i class="fi-social-youtube float-left marginRight10" style="font-size: 22px;width: 40px;"></i>
            <b>Youtube Api</b>
        </a>

        <a href="http://developer.echonest.com/" target="_blank" class="column large-12">
            <img src="assets/img/echonest.png">
        </a>
    </div>
    <div class="column large-4">
        <h1>Partenaires</h1>
    </div>
</div>