<div class="footer_inner">
    <div class="span4">
        <h3> Support </h3>
        <ul>
            <li>FAQ/Aide</li>
            <li>Nous contacter</li>
        </ul>
    </div>
    <div class="span4">
        <h3> Mentions légales </h3>
        <ul>
            <li>Conditions générales d'utilisation</li>
            <li>Conditions générales de ventes</li>
            <li>Mentions légales</li>
        </ul>
    </div>
    <div class="span4">
        <h3> Billetterie en ligne </h3>
        <ul>
            <li>Fonctionnalités</li>
            <li>Tarifs</li>
            <li>Créer une billetterie en ligne</li>
        </ul>
    </div>
</div>