<div class="column large-12">
    <h1>Issues</h1>
    <input placeholder="inputName" placeolder="issue title" ng-model="newIssue.title"
           ng-change="getIssues(newIssue.title); selectedIssue = false">
    <a class="button" ng-click="addNewIssue = !addNewIssue; selectedIssue = false">AddIssue</a>
    <form ng-show="addNewIssue" name="formIssue" ng-submit="addIssue()">
        <md-input-container flex>
            <input ng-model="newIssue.title" ng-minlength="8" required name="issueTitle" placeholder="newIssue.title">
            <div ng-messages="formIssue.issueTitle.$error">
                <div ng-message="required">Ce champ est obligatoire</div>
                <div ng-message="minlength">Ce champ doit comporter au moins 8 characters</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <textarea ng-minlength="8" required name="issueContent" ng-model="newIssue.content"></textarea>
            <div ng-messages="formIssue.issueContent.$error">
                <div ng-message="required">Ce champ est obligatoire</div>
                <div ng-message="minlength">Ce champ doit comporter au moins 8 characters</div>
            </div>
        </md-input-container>
        <input class="button" type="submit">
        <a class="button" ng-click="addNewIssue = false">Annuler</a>
    </form>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loadingIssues">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <ul class="column large-12" ng-show="selectedIssue == false">
        <ul ng-repeat="issue in issues | filter: newIssue.title">
            <h1 ng-click="$parent.selectedIssue = issue; $parent.selectedIssue.index = $index"><a>{{issue.title}}</a></h1>
        </ul>
        <a class="button" ng-click="$parent.issuesLimit = $parent.issuesLimit + 10" ng-if="issues.length > issuesLimit">More</a>
    </ul>
    <div class="column large-12"
         ng-if="selectedIssue != false">
        <a class="button" ng-click="$parent.selectedIssue = false">Retour</a>
        <div class="collumn large-12">
            <p>{{selectedIssue.content}}</p>
            <div ng-show="viewComments" class="column large-12" ng-repeat="comment in selectedIssue.comments">
                <p>{{comment.content}}</p>
            </div>
            <form ng-show="addNewComment" name="commentForm" ng-submit="addComment(selectedIssue.index)">
                <md-input-container flex>
                    <textarea ng-minlength="8" required name="commentContent"
                              ng-model="newComment.content"></textarea>
                    <div ng-messages="commentForm.commentContent.$error">
                        <div ng-message="required">Ce champ est obligatoire</div>
                        <div ng-message="minlength">Ce champ doit comporter au moins 8 characters</div>
                    </div>
                </md-input-container>
                <input class="button" type="submit">
                <a class="button" ng-click="addNewComment = !addNewComment">Annuler</a>
            </form>
            <a class="button" ng-if="selectedIssue.comments.length > 0"
               ng-click="getIssueComments(selectedIssue.issueId, selectedIssue.index); $parent.viewComments = !$parent.viewComments">
                ViewComments
            </a>
            <a class="button" ng-show="!addNewComment" ng-click="addNewComment = !addNewComment">AddComment</a>
        </div>
    </div>
</div>