<div class="column large-12">
    <h1>Issues</h1>
    <input placeholder="inputName" placeolder="issue title" ng-model="newIssue.title"
           ng-change="getIssues(newIssue.title)">
    <a class="button" ng-click="addNewIssue = !addNewIssue">AddIssue</a>
    <form ng-show="addNewIssue" ng-submit="addIssue()">
        <input ng-model="newIssue.title" placeholder="newIssue.title">
        <textarea ng-model="newIssue.content"></textarea>
        <input type="submit">
    </form>
    <ul class="column large-12">
        <ul ng-repeat="issue in issues | limitTo: issuesLimit | filter: newIssue.title">
            <h1 ng-click="viewIssue = !viewIssue"><a>{{issue.title}}</a></h1>
            <div class="column large-12"
                    ng-if="viewIssue">
                <div class="collumn large-12">
                    <p>{{issue.content}}</p>
                    <div ng-show="viewComments" class="column large-12" ng-repeat="comment in issue.comments">
                        <h1>{{comment.title}}</h1>
                        <p>{{comment.content}}</p>
                    </div>
                    <form ng-show="addNewComment" ng-submit="addComment($index)">
                        <input ng-model="newComment.title" placeholder="newComment.title">
                        <textarea ng-model="newComment.content"></textarea>
                        <input type="submit">
                    </form>
                    <a class="button" ng-if="issue.comments.length > 0"
                       ng-click="$parent.viewComments = !$parent.viewComments">
                        ViewComments
                    </a>
                    <a class="button" ng-click="addNewComment = !addNewComment">AddComment</a>
                </div>
            </div>
        </ul>
        <a class="button" ng-click="$parent.issuesLimit = $parent.issuesLimit + 10" ng-if="issues.length > issuesLimit">More</a>
    </ul>
</div>