<div ng-class="{hiddenVideo : !showVideo}" class="width100p" style="height: 220px">
    <div class="width100p" style="background: #ffffff"><i ng-click="showVideo = !showVideo" class="fi-x"></i></div>
    <div id="youtubePlayer">
    </div>
</div>
<div ng-show="savePlaylist" class="absolute zIndex1" style="background: #ffffff">
    <input type="text" ng-model="$root.playlist.name" placeholder="PlaylistName">
    <button>Save</button>
    <button ng-click="savePlaylist = !savePlaylist">cancel</button>
</div>
<div class="zIndex1 column large-12">
    <!--<a class="close float-right">X</a>-->
    <i ng-click="$parent.showLecteur = true" ng-if="!showLecteur" style="margin: 0 4px;" class="fi-plus float-left"></i>
    <i ng-click="$parent.showLecteur = false" ng-if="showLecteur" style="margin: 0 4px;" class="fi-minus float-left"></i>
    <i ng-click="remPlaylist()" class="fi-trash float-left" style="margin: 0 4px;"></i>
    <i ng-click="savePlaylist = !savePlaylist" class="fi-save float-left" style="margin: 0 4px;"></i>
    <i ng-if="trackActive.platform == 'Youtube'" ng-click="$parent.showVideo = !$parent.showVideo" class="fi-video float-left"></i>
    <i class="fi-volume float-left" ng-click="showVol = !showVol" style="margin: 0 4px;"></i>
    <md-slider ng-hide="!showVol" flex ng-change="volume()"
               ng-model="levelVol" min="0" max="100"
               aria-label="volume"
               id="volume-slider"
               class="md-primary absolute" style="margin-left: 95px;z-index: 5;margin-top: -12px;width: 130px;background: white;">
    </md-slider>
    <div class="column large-10 large-centered">
        <div class="float-left column small-1">
            <i ng-if="!onPlay" class="fi-play" ng-click="playPause()"></i>
            <i ng-if="onPlay" class="fi-pause" ng-click="playPause()"></i>
            <i class="fi-shuffle" ng-click="$parent.shuffle = !$parent.shuffle" ng-if="!shuffle"></i>
            <a ng-if="shuffle"><i class="fi-shuffle" ng-click="$parent.shuffle = !$parent.shuffle"></i></a>
            <i class="fi-previous float-right" ng-click="prevTrack()"></i>
        </div>
        <div id="progressBar" class="progress small-9 primary float-left round">
            <span id="progress" class="meter" style="width: 0%"></span>
        </div>
        <div class="column small-2">
            <div class="float-left" id="currentTime"></div>
            <i class="fi-next float-right" ng-click="nextTrack()"></i>
        </div>
    </div>
</div>
<div ng-show="showLecteur" class="width100p float-left">
    <audio class="width100p ng-hide" id="musicPlayer" style="position: fixed" autoplay></audio>
    <div class="width100p playlistScroller" style="overflow-x: auto;">
        <div ng-if="playlist.tracks.length > 0" style="position: relative; overflow-x: auto; display: inline-flex;"  class="sortable-row" as-sortable="sortableOptions" ng-model="playlist.tracks">
            <div ng-class="{onplay : track == trackActive}" class="float-left trackContener"
                 as-sortable-item ng-repeat="track in playlist.tracks">
                <i class="fi-x-circle absolute top0 iClose" ng-click="closeTrack($index)"></i>
                <div class="img-circularPlayer" style="background-image: url('{{track.thumbnailUrl}}');">
                    <i class="fi-play playInImg" ng-if="$parent.track != $parent.trackActive" ng-click="$root.play($index)"></i>
                    <i class="fi-pause pauseInImg" ng-if="$parent.track == $parent.trackActive"
                       ng-class="{'fi-pause': onPlay, 'fi-play': !onPlay}" ng-click="playPause()"></i>
                </div>
                <div as-sortable-item-handle class="trackInfos">
                    {{track.artist}}<br/>
                    {{track.title | limitTo: 32}}<b ng-if="track.title.length > 32">...</b><br/>
                    {{track.platform}}<br/>
                </div>
            </div>
        </div>
    </div>
</div>