<div class="zIndex1 column large-12">
    <!--<a class="close float-right">X</a>-->
    <a ng-click="showLecteur = !showLecteur" class="float-left"><i class="fi-plus"></i></a>
    <a ng-click="remPlaylist()"><i class="fi-trash float-left"></i></a>
    <div class="column large-10 large-centered">
        <div class="float-left column small-1">
            <i ng-if="!onPlay" class="fi-play" ng-click="playPause()"></i>
            <i ng-if="onPlay" class="fi-pause" ng-click="playPause()"></i>
            <i class="fi-previous float-right" ng-click="prevTrack()"></i>
        </div>
        <div id="progressBar" class="progress small-9 primary float-left round">
            <span id="progress" class="meter" style="width: 0%"></span>
        </div>
        <div class="column small-2">
            <div class="float-left" id="currentTime"></div>
            <i class="fi-next float-right" ng-click="nextTrack()"></i>
        </div>
    </div>
</div>
<div ng-show="showLecteur" class="width100p float-left">
    <audio class="width100p ng-hide" id="musicPlayer" style="position: fixed" autoplay></audio>
    <iframe id="iframe-lecture" class="ng-hide" style="display: none"></iframe>
    <div id="youtubePlayer">
    </div>
    <div class="playlistScroller" style="position: relative; overflow-x: auto;">
        <div class="playlistContener">
            <div ng-class="{onplay : $index == trackActive}" class="float-left trackContener" ng-repeat="track in playlist track by $index">
                <i class="fi-x-circle absolute top0 iClose" ng-click="closeTrack($index)"></i>
                <div ng-click="play($index)">
                    <div class="img-circularPlayer" style="background-image: url('{{track.image}}');">
                    </div>
                    <div class="trackInfos">
                        {{track.artist}}<br/>
                        {{track.title | limitTo: 32}}<br/>
                        {{track.from}}<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>