<div ng-class="{hiddenVideo : !showVideo}" class="width100p" style="height: 220px">
    <div class="width100p" style="background: #ffffff"><i ng-click="showVideo = !showVideo" class="fi-x"></i></div>
    <div id="youtubePlayer">
    </div>
</div>
<div ng-show="showInfo" class="EventinfoTrack">
    <a href="#/artiste/{{trackActive.artist.facebookUrl}}"><h3>{{trackActive.artist.name}}</h3></a>
    Prochain concert prez de chez vous : <br/>
    <a href="#/event/{{trackActive.nextShow.eventId}}">
        {{trackActive.nextShow.name}}
    </a><br/>
    Le {{trackActive.nextShow.startTime | date:'dd/MM' }} @
    <a href="#/lieu/{{trackActive.nextShow.places[0].placeId }}">
    {{trackActive.nextShow.places[0].name}}
    </a>
</div>
<div ng-show="savePlaylist" class="absolute zIndex1" style="background: #ffffff">
    <input type="text" ng-model="$root.playlist.name" placeholder="PlaylistName">
    <button ng-click="createNewPlaylist(playlist)">Save</button>
    <button ng-click="savePlaylist = !savePlaylist">cancel</button>
</div>
<div class="zIndex1" ng-class="{'column large-12': $root.window != 'small'}">
    <!--<a class="close float-right">X</a>-->
    <i ng-click="showLecteur = !showLecteur" style="margin: 0 4px;" class="float-left"
       ng-class="{'column small-3 button margin0': $root.window == 'small', 'fi-minus': showLecteur == true, 'fi-plus': showLecteur == false}"></i>

    <i ng-click="remPlaylist()" class="fi-trash float-left" style="margin: 0 4px;" ng-class="{'column small-3 button margin0': $root.window == 'small'}"></i>
    <i ng-if="$root.window == 'small'" ng-class="{'fi-pause': onPlay == true, 'fi-play': onPlay == false}" class="column small-3 button margin0" ng-click="playPause()"></i>
    <i class="fi-shuffle column small-3 button margin0" ng-click="$parent.shuffle = !$parent.shuffle" ng-if="!shuffle && $root.window == 'small'"></i>
    <a ng-if="shuffle && $root.window == 'small'"><i class="fi-shuffle column small-3 button margin0" ng-click="$parent.shuffle = !$parent.shuffle"></i></a>
    <i ng-click="$parent.savePlaylist = !$parent.savePlaylist" ng-if="$root.window != 'small'" class="fi-save float-left" style="margin: 0 4px;"></i>
    <i ng-if="trackActive.platform == 'Youtube'" ng-click="$parent.showVideo = !$parent.showVideo" class="fi-video float-left"></i>
    <i class="fi-volume float-left" ng-if="$root.window != 'small'" ng-click="$parent.showVol = !$parent.showVol" style="margin: 0 4px;"></i>
    <md-slider ng-hide="!showVol" flex ng-change="volume()"
               ng-model="levelVol" min="0" max="100"
               aria-label="volume"
               id="volume-slider"
               class="md-primary absolute" style="margin-left: 95px;z-index: 5;margin-top: -12px;width: 130px;background: white;">
    </md-slider>
    <div class="column large-11 small-10 padding0">
        <div class="float-left column small-3 large-1">
            <i ng-if="$root.window != 'small'" ng-class="{'fi-pause': onPlay == true, 'fi-play': onPlay == false}" ng-click="playPause()"></i>
            <i class="fi-shuffle" ng-class="{'fi-pause': onPlay == true, 'fi-play': onPlay == false}" ng-click="$parent.shuffle = !$parent.shuffle" ng-if="!shuffle && $root.window != 'small'"></i>
            <a ng-if="shuffle && $root.window != 'small'"><i class="fi-shuffle" ng-click="$parent.shuffle = !$parent.shuffle"></i></a>
            <i class="fi-previous float-right" ng-if="$root.window != 'small'" ng-click="prevTrack()"></i>
        </div>
        <div id="progressBar" class="progress small-10 large-9 primary float-left round column padding0" style="overflow: hidden">
            <b style="color: #008CBA;font-size: 13px;
margin-left: 5px;" class="absolute">{{playlist.name}} by {{playlist.by}} // {{trackActive.title}} // {{trackActive.artist.name}}</b>
            <span id="progress" class="meter column padding0" style="width: 0%; overflow: hidden">
                <b style="color: #ffffff;white-space: nowrap;overflow: hidden;font-size: 13px;
margin-left: 5px;"
                   class="absolute">
                    {{playlist.name}} by {{playlist.by}}
                    // {{trackActive.title}}
                    // {{trackActive.artist.name}}
                    <a target="_blank" href="{{track.redirectUrl}}" style="font-size: 27px;" ng-if="track.platform == 'Soundcloud'">
                        <i style="display: block" class="fi-soundcloud"></i>
                    </a>
                    <a href="https://youtube.com/watch?v={{track.url}}"
                       style="font-size: 27px;"
                       ng-if="track.platform == 'Youtube'"
                       target="_blank">
                        <i style="display: block" class="fi-social-youtube"></i>
                    </a>
                </b>
            </span>
        </div>
        <div class="column small-2 large-2">
            <a target="_blank" href="{{trackActive.redirectUrl}}" style="font-size: 27px;" ng-if="trackActive.platform == 'Soundcloud'">
                <i style="display: block" class="fi-soundcloud float-left"></i>
            </a>
            <a href="https://youtube.com/watch?v={{trackActive.url}}"
               style="font-size: 27px;"
               ng-if="trackActive.platform == 'Youtube'"
               target="_blank">
                <i style="display: block; margin-top: -7px; margin-right: 3px" class="fi-social-youtube float-left"></i>
            </a>
            <div class="float-left" ng-show="$root.window != 'small'" id="currentTime"></div>
            <i ng-if="$root.window != 'small'" class="fi-next float-right" ng-click="nextTrack()"></i>
        </div>
    </div>
</div>
<div ng-show="showLecteur" class="width100p float-left">
    <audio class="width100p ng-hide" id="musicPlayer" style="position: fixed"></audio>
    <div class="width100p playlistScroller" style="overflow-x: auto;">
        <div ng-if="playlist.tracks.length > 0" style="position: relative; overflow: auto; max-height: 150px; display: inline-flex; min-width: 100%"  class="sortable-row" as-sortable="sortableOptions" ng-model="playlist.tracks">
            <div ng-class="{onplay : track == trackActive}" class="float-left trackContener"
                 as-sortable-item ng-repeat="track in playlist.tracks">
                <i class="fi-x-circle absolute top0 iClose" ng-click="closeTrack($index)"></i>
                <div class="img-circularPlayer" style="background-image: url('{{track.thumbnailUrl}}');">
                    <i class="fi-play playInImg" ng-if="track != trackActive" ng-click="$root.play($index)"></i>
                    <i class="fi-pause pauseInImg" ng-if="track == trackActive"
                       ng-class="{'fi-pause': onPlay, 'fi-play': !onPlay}" ng-click="playPause()"></i>
                </div>
                <div as-sortable-item-handle class="trackInfos">
                    <a href="#/artiste/{{track.artist.facebookUrl}}">{{track.artist.name}}</a><br/>
                    {{track.title | limitTo: 32}}<b ng-if="track.title.length > 32">...</b><br/>
                    <a target="_blank" href="{{track.redirectUrl}}"
                       class="column small-2 padding0"
                       style="font-size: 27px;"
                       ng-if="track.platform == 'Soundcloud'">
                        <i style="display: block" class="fi-soundcloud"></i>
                    </a>
                    <a href="https://youtube.com/watch?v={{track.url}}"
                       style="font-size: 27px;"
                       ng-if="track.platform == 'Youtube'"
                       target="_blank">
                        <i style="display: block" class="fi-social-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>