<div class="row-fluid span12" id="events_contener">
    <ul>
	   <li class="row-fluid video_contener" data-ng-repeat="musique in artiste.musiques">
        <div class="ng-lecteur">
            <div class="lecteur_controller"><a><h3>PLAY</h3></a></div>
             <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152961416&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>  
        </li>
	</ul>
</div>

