<div id="searchBlock" class="right left absolute" ng-if="$root.path != 'search'">
    <ng-search-bar class="column large-8 medium-10 medium-offset-1 large-offset-2"></ng-search-bar>
</div>
<a class="button"
   ng-if="$root.activPlace && searchPat.length > 3"
        ng-click="searchNewPlace(searchPat)">
    SuggestPlace {{searchPat}}
</a>
<div>
    <ul id="events_contener" ng-class="{paddingTop50: $root.path == 'search'}"
        class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <div ng-if="$root.activEvent && events.length > 0" class="float-left column small-12 medium-6 large-4 min_contener data-ng-event margin0"
            data-ng-repeat="event in events |orderBy: order"
            ng-show= "filteredGenres.length || filterQuery.length <= 1 || filterQuery == undefined">
        </div>
        <div ng-if="$root.activArtist && artists.length > 0"
             class="column large-4 medium-6 float-left marginBottom20 marginLeft0 marginRight0 minNoText"
            data-ng-repeat="artist in artists | filter: filterSearch"
            ng-show= "filteredEntries.length || filterQuery.length <= 1 || filterQuery == undefined"
            style="padding-bottom: 10px;">
            <div class="block_event_min">
                <div class="img_min_evnt">
                    <div class="toGrow">
                        <a href="#/artiste/{{artist.facebookUrl}}">
                            <img src="{{artist.imagePath}}" alt="une belle image" class="min"/>
                        </a>
                    </div>
                    <a href="#/artiste/{{artist.facebookUrl}}">
                        <h3 style="margin-bottom: 0;" class="minTitle">
                            {{ artist.name }}
                        </h3>
                    </a>
                </div>
                <div>
                    <a ng-if="filterType == 'genre'"
                       ng-repeat="genre in filteredEntries = (artist.genres | filter: filterQuery)"
                       ng-click="$root.filterQuery = genre.name"
                       class="ng-hide"></a>
                </div>
            </div>
        </div>
        <div class="column large-4 medium-6 float-left marginBottom20 marginLeft0 marginRight0 minNoText"
             ng-if="$root.activArtist && artistsFb.length > 0"
            data-ng-repeat="artist in artistsFb "
            ng-show= "filteredEntries.length || filterQuery.length <= 1 || filterQuery == undefined"
            style="padding-bottom: 10px;">
            <div class="block_event_min">
                <div class="img_min_evnt">
                    <div class="toGrow">
                        <img ng-click="createArtist(artist)"
                             src="{{ artist.imagePath }}"
                             alt="une belle image" class="min pointer"/>
                    </div>
                    <h3 style="margin-bottom: 0;" class="minTitle">
                        {{ artist.name }}
                    </h3>
                </div>
                <div style="height: 30px">
                    <a ng-click="createArtist(artist)">
                    </a>
                    <i ng-show="artist.tracks.length > 0" class="fi-play-circle"
                       style="font-size: 26px;"
                       ng-click="$root.addAndPlay(artist.tracks, artist.name)">
                   </i>
                    <a ng-if="filterType == 'genre'"
                       ng-repeat="genre in filteredEntries = (artist.genres | filter: filterQuery)"
                       ng-click="$root.filterQuery = genre.name"
                            class="ng-hide"></a>
                </div>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-align="space-around" class="float-left" ng-if="loadingFbArt && !loadingMore">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div class="column large-4 medium-6 float-left marginBottom20 marginLeft0 marginRight0 minNoText"
            ng-if="$root.activPlace && places.length > 0"
            style="padding-bottom: 10px;"
            data-ng-repeat="place in places" >
            <div class="block_event_min">
                <div class="img_min_evnt">
                    <div class="toGrow" ng-if="place.placeId != -1">
                        <a href="#/lieu/{{place.placeId}}">
                            <img src="{{ place.imagePath }}" ng-if="place.imagePath.length > 0" alt="une belle image" class="min"/>
                            <map ng-if="place.imagePath.length == 0 || place.imagePath == undefined"
                                 zoom="14"
                                 center="[{{place.geographicPoint}}]"
                                 scrollwheel="false"
                                 disable-default-u-i="true"
                                 styles="[
                                     {
                                         stylers:[
                                             {hue:'#00654C'},
                                             {visibility:'simplified'},
                                             {gamma:0.5},
                                             {weight:0.5}
                                         ]
                                     },
                                     {
                                        elementType:'labels',
                                        stylers:[
                                            {visibility:'off'}
                                        ]
                                    },
                                    {featureType:'water',
                                        stylers:[
                                            {color:'#008CBA'}
                                        ]
                                    }
                                ]"
                                 class="width100p img_min_evnt">
                                <marker visible="true" position="{{place.geographicPoint}}">
                                </marker>
                            </map>
                        </a>
                    </div>
                    <div class="toGrow" ng-if="place.placeId == -1">
                        <a ng-click="createNewPlace(place)">
                            <img src="{{ place.imagePath }}" alt="une belle image" class="min"/>
                        </a>
                    </div>
                    <a ng-if="place.placeId != -1" href="#/lieu/{{place.placeId}}">
                        <h3 class="minTitle">{{ place.name }}
                        </h3>
                    </a>
                    <a ng-if="place.placeId == -1" ng-click="createNewPlace(place)">
                        <h3 class="minTitle">{{ place.name }}
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <li class="min_contener margin0" ng-if="$root.activUsr && users.length > 0"
            data-ng-repeat="user in users">
            <div class="block_event_min">
                <div class="img_min_evnt">
                    <div class="toGrow">
                        <a href="#/user/{{user.userId}}">
                            <img src="{{ user.images[0].path }}" alt="une belle image" class="min"/>
                        </a>
                    </div>
                    <a href="#/user/{{user.userId}}"><h3 class="minTitle">{{user.nickname}}</h3></a>
                </div>
            </div>
        </li>
    </ul>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loadingMore">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="events.length >= limit || artists.length >= limit || artistsFb.length >= limit || places.length >= limit || users.length >= limit"
         layout="row" layout-align="center center">
        <button ng-click="moreLimit(); $parent.limit = $parent.limit + 20" class="column large-5">More</button>
    </div>
</div>

