<div class="span8" id="search">
    <form id="search_ville">
        <input id="villes" type="text" placeholder="Changer de ville" class="date-time" data-ng-model="query">
    </form>
    <div class="btn-group" id="filtreMain"> <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#"> Trier par <span class="caret"></span> </a>
        <ul class="dropdown-menu" data-ng-model="order">
            <li class="dropdown-submenu">
                <a href="#">Genre</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Genre1</a></li>
                    <li><a href="#">Genre2</a></li>
                    <li><a href="#">Genre3</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#">Lieux</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Lieu1</a></li>
                    <li><a href="#">Lieu2</a></li>
                    <li><a href="#">Lieu3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
