<div class="modal-header">
    <h3 class="modal-title column small-9">Tools</h3>
    <a ng-click="cancel()" class="column small-3"><i class="fi-x float-right"></i></a>
</div>
<div class="modal-body column large-12">
    <ng-connect ng-if="$root.connected == false">
    </ng-connect>
    <div ng-if="$root.connected == true">
        <div class="column large-3" ng-repeat="item in items" data-ng-bind-html="item" ng-click="cancel()"></div>
    </div>
    <a class="button" ng-click="viewIssues = !viewIssues"> Issues </a>
    <a class="button" ng-click="getPlaylists(); viewPlaylists = !viewPlaylists"> playlists </a>
    <div ng-if="viewPlaylists">
        <a ng-repeat="playlist in playlists">{{playlist.name}}</a>
        <b ng-if="viewPlaylists && playlists.length == 0">Vous n'avez pas de playlists</b>
    </div>
    <div ng-if="viewIssues" ng-issues></div>
</div>
<div class="modal-footer">
</div>