<div class="parallax-background" style="background: #ffffff!important;">
    <img class="width100p" src="{{ artiste.imagePath }}"/>
</div>
<div class="parallax-content">
    <div class="columns large-12">
        <h2 id="eventTitle">
            {{artiste.name}}
            <i ng-if="otherWebsite == true" class="float-right  fa fa-chevron-down"
               ng-click="$parent.showUrls = !$parent.showUrls" style="margin-left: 5px; cursor: pointer"></i>
            <ul class="absolute zIndex4 right" ng-if="showUrls" style="background: #ffffff; box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); padding-bottom: 10px; margin-bottom: 10px;">
                <li ng-repeat="website in artiste.websites" ng-if="website.name == 'website'" style="display: block; margin: 10px">
                    <a href="http://www.{{website.url}}" target="_blank">{{website.url}}</a>
                </li>
            </ul>
            <a ng-if="website.name != 'website'"
               ng-repeat="website in artiste.websites"
               href="http://www.{{website.url}}" target="_blank">
                <i ng-class="{'fi-social-facebook' : website.name == 'facebook',
                   'fi-social-twitter' : website.name == 'twitter',
                   'fi-soundcloud' : website.name == 'soundcloud',
                   'fi-mixcloud' : website.name == 'mixcloud'}"
                   class="float-right" style="margin-right: 5px;"></i>
            </a>
            <a href="http://www.facebook.com/{{artiste.facebookId}}" target="_blank">
                <i class="float-right fi-social-facebook" style="margin-right: 5px;"></i>
            </a>
        </h2>
    </div>
    <div class="column large-12">
        <div class="column large-12 float-left marginBottom10"
             ng-if="artiste.description.length > 0"
             style="background-color: #e7e7e7">
            <h2 class="float-left"
                style="line-height: 50px;
                  margin: 5px;
                  color: rgb(105, 181, 205);
                ">Présentation
            </h2>
            <div class="img-circularPlayer float-right"
                 style="background: rgba(0, 140, 186, 0.54); height: 50px; width: 50px">
                <i class="pauseInImg ng-scope fa fa-chevron-down pointer"
                   style="font-size: 50px;"
                   ng-if="showDesc == false"
                   ng-click="$parent.showDesc = true"></i>
                <i class="pauseInImg ng-scope fa fa-chevron-up pointer"
                   style="font-size: 50px;"
                   ng-if="showDesc == true"
                   ng-click="$parent.showDesc = false"></i>
            </div>
            <div ng-if="showDesc == true" class="float-left width100p" data-ng-bind-html="artiste.description">
            </div>
        </div>
    </div>
    <md-content class="column">
        <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
            <md-tab label="Evenements">
                <md-content>
                    <ul id="events_contener"
                        class="descriptionContent width100p float-left marginTop10">
                        <div class="min_contener data-ng-event fade margin0 column large-4 medium-6 float-left"
                             data-ng-repeat="event in artiste.events"
                                ng-class="{'padding0': $root.window == 'small'}"></div>
                        <h3 ng-show="artiste.events.length == 0">Pas d'événements pour cet artisite pour le moments</h3>
                    </ul>
                </md-content>
            </md-tab>
            <md-tab label="Tracks">
                <md-content>
                    <input class="column float-left height50 large-12"
                           ng-if="tracks.length > 0 || trackTitle.length > 0"
                           ng-model="$parent.$parent.trackTitle" ng-change="filterTracks()"
                           placeholder="filter tracks"/>
                    <div class="float-left column large-12 padding0">
                        <a class="button column float-left padding0"
                           style="min-height: 40px; line-height: 40px;"
                           ng-if="tracksFiltered.length > 0"
                           ng-click="$root.addAndPlay(artiste.tracks, artiste)"
                           ng-class="{'padding0': $root.window == 'small',
                           'small-6': $root.playlist.tracks.length == 0,
                           'small-4': $root.playlist.tracks.length > 0}">
                            <i class="fi-play"></i> Play all
                        </a>
                        <a class="button column float-left padding0 small-4"
                           style="min-height: 40px; line-height: 40px;"
                           ng-if="tracksFiltered.length > 0 && $root.playlist.tracks.length > 0"
                           ng-class="{'padding0': $root.window == 'small'}"
                           ng-click="$root.addToPlaylist(artiste.tracks, artiste)">
                            <i class="fi-plus"></i> Add all
                        </a>
                        <a class="button column float-left padding0"
                           style="min-height: 40px; line-height: 40px;"
                           ng-class="{'padding0': $root.window == 'small',
                           'small-6': $root.playlist.tracks.length == 0,
                           'small-4': $root.playlist.tracks.length > 0}"
                           ng-if="tracksFiltered.length > 0"
                           ng-click="$parent.$parent.suggest = !$parent.$parent.suggest">
                            Suggérer
                        </a>
                        <form ng-if="$parent.suggest"
                              ng-submit="suggestQuery($parent.trackTitle, artiste.name, artiste.facebookUrl)"
                              class="column large-12">
                            <input ng-model="$parent.$parent.trackTitle" ng-change="filterTracks()" placeholder="track title">
                            <input type="submit" class="button"/>
                        </form>
                    </div>
                    <div layout="row" layout-sm="column" layout-align="space-around" class="column" ng-if="$root.loadingTracks">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div ng-if="artiste.tracks.length == 0 && trackTitle.length == 0 && !$root.loadingTracks"
                         class="column large-12 text-center">
                        <b>Désolé, nous n'avons pour le moment aucune track pour cet artist.
                            <br/>Vous pouvez ici suggerer une track à ajouter</b><br/>
                        <form ng-submit="suggestQuery(trackTitleSuggest, artiste.name, artiste.facebookUrl)">
                            <input placeholder="track title" ng-model="trackTitleSuggest">
                            <input class="button" type="submit" />
                        </form>
                    </div>
                    <div ng-if="tracksFiltered.length == 0 && trackTitle.length > 0"
                         class="column large-12 text-center">
                        <b>Désolé, nous n'avons pour le moment aucune track "{{trackTitle}}" pour cet artist.</b><br/>
                        <a class="button" ng-click="suggestQuery(trackTitle, artiste.name, artiste.facebookUrl)">Suggérer la track {{trackTitle}}</a>
                    </div>
                    <div ng-repeat="track in tracksFiltered = (artiste.tracks | limitTo: trackLimit) track by $index"
                         class="column fade paddingBottom10 medium-6 large-4 float-left"
                            ng-class="{'paddingRight0 paddingLeft0': $root.window == 'small'}">
                        <div class="column large-12 arTrack">
                            <div class="column small-1 padding0 text-center float-right"
                                 ng-class="{'marginTop10': $root.window != 'small'}"
                                    style="border-left:solid 1px rgba(0, 0, 0, 0.45) ">
                                <i class="fi-x column medium-12 padding0 pointer"></i>
                                <i class="fi-play column medium-12 padding0 pointer"
                                   ng-click="$root.addAndPlay([track], artiste)"></i>
                                <i class="fi-plus column medium-12 padding0 pointer"
                                   ng-click="$root.addToPlaylist([track], artiste)"></i>
                            </div>
                            <div ng-if="track.thumbnailUrl != undefined"
                                 class="img-circularPlayer"
                                 style="background-image: url('{{track.thumbnailUrl}}');"
                                 ng-class="{'padding0 margin0': $root.window == 'small'}">
                                <i class="fi-play playInImg"
                                   ng-click="$root.addToPlaylist([track], artiste)">
                                   </i>
                            </div>
                            <div ng-class="{'column medium-7': $root.window != 'small'}"
                                 style="overflow: hidden; height: 48px;">
                                    <h3>{{track.title}}</h3>
                                    <md-tooltip>
                                        {{track.title}}
                                    </md-tooltip>
                            </div>
                            <a target="_blank"
                               href="{{track.redirectUrl}}"
                               class="column small-7"
                               ng-class="{'float-left': $root.window != 'small'}"
                               style="font-size: 27px;" ng-if="track.platform == 's'">
                                <i style="display: block"
                                   ng-class="{'float-right': $root.window == 'small'}"
                                   class="fi-soundcloud"></i>
                            </a>
                            <a href="https://youtube.com/watch?v={{track.url}}"
                               class="column small-7"
                               ng-class="{'float-left': $root.window != 'small'}"
                               style="font-size: 27px;"
                               ng-if="track.platform == 'y'"
                               target="_blank">
                                <i style="display: block" ng-class="{'float-right': $root.window == 'small'}"
                                   class="fi-social-youtube"></i>
                            </a>
                        </div>
                    </div>
                    <div class="column large-12 padding0">
                        <button ng-if="trackLimit < artiste.tracks.length"
                                class="float-left column large-3 medium-4 small-6"
                                ng-click="$parent.trackLimit = $parent.trackLimit + 12">More tracks</button>
                        <button ng-if="trackLimit > 12 && trackTitle.length <= 1"
                                class="float-left column large-3 medium-4 small-6"
                                ng-click="$parent.trackLimit = 12">Less tracks</button>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>


