<form name="createEventForm" method="post" action="/createEvent"> <!--method="post" action="/createEvent"-->
    <input type="text" name="name" placeholder="Nom de l'événement" ng-model="newEvent.name"/><br/>
    <input type="text" placeholder="LieuEvent" ng-model="newEvent.place"/><br/>
    <input type="datetime" name="startSellingTime" placeholder="Date et heure de départ de l'événement"
           ng-model="newEvent.startDate"/><br/>
    <input type="datetime" name="endSellingTime" placeholder="endSellingTime"
           ng-model="newEvent.startTime"/><br/>
    <input type="datetime" name="startTime"  placeholder="startTime" ng-model="newEvent.endDate"/><br/>
    <input type="datetime" name="endTime"  placeholder="endTime" ng-model="newEvent.endTime"/><br/>
    <input type="number" name="ageRestriction" placeholder="ageRestriction"  ng-model="newEvent.ageRestriction"/><br/>

    <input type="number" name="prices[0]" placeholder="Prix du premier tarif"
           ng-model="newEvent.prices0"/><br/>
    <input type="text" name="denominations[0]" placeholder="Dénomination du tarif"
           ng-model="newEvent.denominations0"/><br/>
    <input type="number" name="nbTicketToSells[0]" placeholder="Nombre de ticket à vendre pour ce tarif"
           ng-model="newEvent.nbTicketToSells0"/><br/>
    <input type="date" name="startTimes[0]" placeholder="Début des ventes pour ce tarif"
           ng-model="newEvent.startTimes0"/><br/>
    <input type="date" name="endTimes[0]" placeholder="Fin des ventes pour ce tarif"
           ng-model="newEvent.endTimes0"/><br/>

    <input type="number" name="prices[1]" placeholder="Prix du deuxième tarif"
           ng-model="newEvent.prices1"/><br/>
    <input type="text" name="denominations[1]" placeholder="Dénomination du tarif"
           ng-model="newEvent.denominations1"/><br/>
    <input type="number" name="nbTicketToSells[1]" placeholder="Nombre de ticket à vendre pour ce tarif"
           ng-model="newEvent.nbTicketToSells1"/><br/>
    <input type="date" name="startTimes[1]" placeholder="Début des ventes pour ce tarif"
           ng-model="newEvent.startTimes1"/><br/>
    <input type="date" name="endTimes[1]" placeholder="Fin des ventes pour ce tarif"
           ng-model="newEvent.endTimes1"/><br/>
    <h4>Contenu</h4>
        <input type="text" name="description" placeholder="Description"
           ng-model="newEvent.description"/><br/>
    <input type="submit" name="valider"/>
</form>
