<div class="parallax-background" style="background: #ffffff!important;">
    <img class="width100p" src="{{ event.imagePath }}"/>
</div>
<div class="parallax-content column" style="background: #ffffff">
    <div class="columns large-12">
        <p>le {{ event.startTime | date:'dd/MM - HH:mm'}} @ <a href="#/lieu/{{ place.placeId }}" data-ng-repeat="place in event.places"> {{ place.name }}</a></p>
        <h2 id="eventTitle" class="column large-10 padding0" style="margin-top:0">{{event.name}}</h2>
        <button class="float-right" ng-click="follow(event.eventId)">Suivre</button>
    </div>
    <div ng-if="$root.window == 'large' || $root.window == 'xlarge' || $root.window == 'xxlarge'" class="descriptionContent column large-8 float-left" style="text-align: justify;">
        <div ng-bind-html="event.description" id="eventDescBind"></div>
    </div>
    <div class="column large-4 float-left eventInfo" ng-if="event.tariffs.length > 0">
        <h2>Acheter des places</h2>
        <li ng-repeat="tarif in event.tariffs" style="display: block;">
            <h4>{{tarif.denominations}}</h4>
            <h4 class="column large-4">{{tarif.prices}} €</h4>
            <select class="column large-4">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <button class="column large-4">Acheter</button>
        </li>
    </div>
    <div class="column large-4 float-left eventInfo" ng-if="event.tariffRange.length != undefined ||
    event.ticketSellers != undefined">
        <h2>Tarifs</h2>
        <h3 class="float-left">{{event.tariffRange}}</h3>
        <a ng-if="event.ticketSellers != undefined"
           href="http://www.{{event.ticketSellers}}"
           class="button float-right"
           target="_blank">Acheter des places sur {{event.ticketPlatform}}</a>
    </div>
    <div class="column large-4 float-left eventInfo" ng-if="event.artists.length > 0">
        <h2>Programmation</h2>
        <li ng-repeat="artist in event.artists" style="display: block;">
            <a href="#/artiste/{{artist.facebookUrl}}">{{artist.name}}</a>
            <i ng-if="artist.tracks.length > 0"
               ng-click="$root.addAndPlay(artist.tracks, artist)"
               class="fi-play-circle float-right"><a>PlayAll</a></i>
            <i ng-if="artist.tracks.length > 0"
               ng-click="$root.addToPlaylist(artist.tracks, artist)"
               class="fi-plus float-right"><a>addAll</a></i>
        </li>
    </div>
    <div class="column large-4 float-left eventInfo" >
        <h2>Organisateur</h2>
        <div data-ng-repeat="organizer in event.organizers">
            <a href="#/user/{{organizer.organizerId}}" class="column large-12 padding0">
                <img src="{{organizer.imagePath}}" class="relative width100p"/>
            </a>
            <h3 class="column large-8"><a href="#/user/{{organizer.organizerId}}">{{ organizer.name }}</a></h3>
            <button style='margin-top:5px; float:right'>Suivre</button>
            <i class="fi-plus column large-12 pointer"
               ng-if="!readDesc && organizer.description != undefined"
               ng-click="$parent.readDesc = !$parent.readDesc">
           </i>
            <i class="fi-minus column large-12 pointer"
               ng-if="readDesc"
               ng-click="$parent.readDesc = !$parent.readDesc">
           </i>
           <div style="text-align: justify;" ng-if="readDesc" data-ng-bind-html="organizer.description"></div>
        </div>
    </div>
    <div class="column large-4 float-left eventInfo padding0">
        <div class="column large-12 zIndex1 absolute" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)" ng-if="adresses">
            <a href="#/lieu/{{ place.placeId }}" data-ng-repeat="place in event.places" class="column large-12">
                <b>{{place.name}}</b>
            </a>
            <div style="font-size: 12px;" class="column large-5">
                {{event.addresses[0].street}}<br/>
                {{event.addresses[0].zip}}
                {{event.addresses[0].city}}
            </div>
            <div class="column large-7">
                <a class="mapControls" ng-click="moreZoom()"><i class="fi-plus"></i></a>
                <a class="mapControls" ng-click="lessZoom()"><i class="fi-minus"></i></a>
                <a class="mapControls" ng-click="getItineraire(); selectTravel = !selectTravel">
                    <i class="fi-map"></i>
                </a>
                <a>
                    {{directionInfos.routes[0].legs[0].distance.text}}
                    {{directionInfos.routes[0].legs[0].duration.text}}
                </a>
                <span ng-if="selectTravel" class="width100p float-left ">
                    {{$root.infoDirection}}
                    <a class="mapControls" ng-class="{'active': $parent.travelMode == 'WALKING'}"
                       ng-click="changeTravelMode('WALKING')">
                        Walking
                    </a>
                    <a class="mapControls" ng-class="{'active': $parent.travelMode == 'BICYCLING'}"
                     ng-click="changeTravelMode('BICYCLING')">
                        Bicycle
                    </a>
                    <!--<a class="button mapControls" ng-class="{'active': $parent.travelMode == 'TRANSIT'}"
                       ng-click="changeTravelMode('TRANSIT')">
                        Transit
                    </a>-->
                    <a class="mapControls" ng-class="{'active': $parent.travelMode == 'DRIVING'}"
                       ng-click="changeTravelMode('DRIVING')">
                        Drive
                    </a>
                </span>
            </div>
        </div>
        <map ng-if="map && adresses"
             zoom="{{zoom}}"
             center="[{{event.addresses[0].geographicPoint}}]"
             scrollwheel="false"
             navigationControl="false"
             disable-default-u-i="true"
             mapTypeControl="false"
             scaleControl="false"
             styles="[
                 {
                     stylers:[
                         {hue:'#00654C'},
                         {visibility:'simplified'},
                         {gamma:0.5},
                         {weight:0.5}
                     ]
                 },
                 {
                    elementType:'labels',
                    stylers:[
                        {visibility:'off'}
                    ]
                },
                {featureType:'water',
                    stylers:[
                        {color:'#008CBA'}
                    ]
                }
            ]"
             style="height: 300px"
             class="width100p">
            <directions
                draggable="true"
                panel="directions-panel"
                travel-mode="{{travelMode}}"
                origin="{{start}}"
                destination="{{event.addresses[0].geographicPoint}}">
             </directions>
            <marker visible="true" position="{{event.addresses[0].geographicPoint}}" >
            </marker>
            <transit-layer></transit-layer>
        </map>
    </div>
    <div ng-if="$root.window == 'small' || $root.window == 'medium'" class="descriptionContent column padding0 float-left" style="text-align: justify;">
        <div ng-bind-html="event.description"></div>
    </div>
</div>


