<div class="parallax-background" style="background: #ffffff!important;">
    <img class="width100p" src="{{ event.images[0].path }}"/>
</div>
<div class="parallax-content column" style="background: #ffffff">
    <div class="columns large-12">
        <h2 id="eventTitle" class="column large-10" style="margin-top:0">{{event.name}}</h2>
        <button class="float-right" ng-click="follow(event.eventId)">Suivre</button>
    </div>
    <div ng-if="$root.window == 'large' || $root.window == 'xlarge' || $root.window == 'xxlarge'" class="descriptionContent column large-8 float-left" style="text-align: justify;">
        <div ng-bind-html="event.description" id="eventDescBind"></div>
    </div>
    <div class="column large-4 float-left eventInfo" >
        <h2>Acheter des places</h2>
        <li ng-repeat="tarif in event.tarifs" style="display: block;">
            <h4>{{tarif.denominations}}</h4>
            <h4 class="column large-4">{{tarif.prices}} €</h4>
            <select class="column large-4">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <button class="column large-4">Acheter</button>
        </li>
    </div>
    <div class="column large-4 float-left eventInfo" >
        <h2>Programmation</h2>
        <li ng-repeat="artist in event.artists" style="display: block;">
            <a href="#/artiste/{{artist.facebookUrl}}">{{artist.name}}</a>
            <i ng-if="artist.tracks.length > 0"
               ng-click="$root.addAndPlay(artiste.tracks, artiste.name)"
               class="fi-play-circle float-right"><a>PlayAll</a></i>
            <i ng-if="artist.tracks.length > 0"
               ng-click="$root.addToPlaylist(artiste.tracks, artiste.name)"
               class="fi-plus float-right"><a>addAll</a></i>
        </li>
    </div>
    <div class="column large-4 float-left eventInfo" >
        <h2>Organisateur</h2>
        <div data-ng-repeat="organizer in event.organizers">
            <a href="#/user/{{organizer.organizerId}}" class="column large-12 padding0">
                <img src="{{organizer.images[0].path}}" class="relative width100p"/>
            </a>
            <h3 class="column large-8"><a href="#/user/{{organizer.organizerId}}">{{ organizer.name }}</a></h3>
            <button style='margin-top:5px; float:right'>Suivre</button>
            <i class="fi-plus column large-12 pointer"
               ng-if="!readDesc && organizer.description != undefined"
               ng-click="$parent.readDesc = !$parent.readDesc">
           </i>
            <i class="fi-minus column large-12 pointer"
               ng-if="readDesc"
               ng-click="$parent.readDesc = !$parent.readDesc">
           </i>
           <div style="text-align: justify;" ng-if="readDesc" data-ng-bind-html="organizer.description"></div>
        </div>
    </div>
    <div class="column large-4 float-left eventInfo padding0">
        <div class="column large-4 absolute" style="background: #ffffff; box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); margin-left: 5px; margin-top: 5px; z-index: 1;" ng-if="adresses">
            <a href="#/lieu/{{ place.placeId }}" data-ng-repeat="place in event.places"><h4>{{place.name}}</h4></a>
            <div style="font-size: 12px;">
                {{event.addresses[0].street}}<br/>
                {{event.addresses[0].zip}}
                {{event.addresses[0].city}}
            </div>
            <a class="button" ng-click="moreZoom()">+</a>
            <a class="button" ng-click="lessZoom()">-</a>
        </div>
        <map ng-if="map && adresses"
             zoom="{{zoom}}"
             center="[{{event.addresses[0].geographicPoint}}]"
             scrollwheel="false"
             navigationControl="false"
             mapTypeControl="false"
             scaleControl="false"
             style="height: 300px"
             class="width100p">
            <marker visible="true" position="{{event.addresses[0].geographicPoint}}" icon="../assets/img/marker.png">
            </marker>
        </map>
    </div>
    <div ng-if="$root.window == 'small' || $root.window == 'medium'" class="descriptionContent column large-8 float-left" style="text-align: justify;">
        <div ng-bind-html="event.description"></div>
    </div>
</div>
<div class="fixed top0 width100p height100p" style="background: #ffffff" ng-if="needConnect">
    <h1>Vous devez étre connecter pour suivre cet événement</h1>
   <ng-connect></ng-connect>
    <a class="button" ng-click="$parent.needConnect = false;">Annuler</a>
</div>


