<div ng-if="$root.window == 'medium' || $root.window == 'large' || $root.window == 'xlarge' || $root.window == 'xxlarge'">
    <div ng-controller="CarouselCtrl" class="parallax-background top0">
        <!--<video width="100%" id="videobg" autoplay>
            <source src="https://www.youtube.com/embed/rDlXXWuK-So">
        </video>-->
        <div ng-repeat="info in infos" class="animate-show column large-12 intro-text" ng-show="elementEnCours == info">
            <h4 ng-if="info.title.length > 0" ng-bind-html="info.title"></h4>
            <div ng-bind-html="info.content"></div>
        </div>
    </div>
    <div class="parallax-content ng-search">
    </div>
</div>
<div ng-if="$root.window == 'small'" ng-controller="phoneHomeCtrl" class="absolute top0 bottom0 right left" style="z-index: 11">
    <div class="absolute zIndex5 column">
        <md-slider flex ng-change="updateMarkers()"
                   ng-model="time" min="1" max="51" step="1"
                   aria-label="timeSlider"
                   id="timeSearchSlider"
                   class="md-primary column small-11 padding0 margin0">
        </md-slider>
        <a class="button column small-4" ng-click="info = !info">Infos</a>
        <ul class="white" ng-if="info">
            <li ng-repeat="info in infos">
                <a>{{info.title}}</a>
            </li>
        </ul>
        <a class="button column small-4 margin0" href="#/search"><i class="fi-magnifying-glass"></i></a>
        <a ng-if="$root.path != 'iframe'" class="button column small-4 margin0"
           data-ng-controller="toolsCtrl" ng-click="open()">
            <i class="fi-thumbnails"></i>
        </a>
    </div>
    <map ng-if="map"
         zoom="{{zoom}}"
         center="[{{mapCenter}}]"
         scrollwheel="false"
         disable-default-u-i="true"
         style="height: 100%"
         styles="[
                 {
                     stylers:[
                         {hue:'#00654C'},
                         {visibility:'simplified'},
                         {gamma:0.5},
                         {weight:0.5}
                     ]
                 },
                 {
                    elementType:'labels',
                    stylers:[
                        {visibility:'off'}
                    ]
                },
                {featureType:'water',
                    stylers:[
                        {color:'#008CBA'}
                    ]
                }
            ]"
         class="width100p">
    </map>
</div>
