<div ng-controller="CarouselCtrl" class="parallax-background ">
    <!--<video width="100%" id="videobg" autoplay>
        <source src="https://www.youtube.com/embed/rDlXXWuK-So">
    </video>-->
    <div ng-repeat="info in infos" class="animate-show column large-12 intro-text" ng-show="elementEnCours == info">
        <h2 ng-bind-html="info.title"></h2>
        <div ng-bind-html="info.content"></div>
    </div>
    <button ng-click="goSearch()">Skip</button>
</div>
<div class="parallax-content ng-search">
</div>
