<div ng-if="$root.window == 'medium' || $root.window == 'large' || $root.window == 'xlarge' || $root.window == 'xxlarge'">
    <div ng-controller="CarouselCtrl" class="parallax-background top0">
        <!--<video width="100%" id="videobg" autoplay>
            <source src="https://www.youtube.com/embed/rDlXXWuK-So">
        </video>-->
        <div ng-repeat="info in infos" class="animate-show column large-12 intro-text" ng-show="elementEnCours == info">
            <h2 ng-bind-html="info.title"></h2>
            <div ng-bind-html="info.content"></div>
        </div>
    </div>
    <div class="parallax-content ng-search">
    </div>
</div>
<div ng-if="$root.window == 'small'" ng-controller="phoneHomeCtrl" class="absolute top0 bottom0 right left" style="z-index: 11">
    <map ng-if="map"
         zoom="12"
         center="[{{mapCenter}}]"
         scrollwheel="false"
         navigationControl="false"
         mapTypeControl="false"
         scaleControl="false"
         style="height: 100%"
         class="width100p">
        <info-window position="{{ev.addresses[0].geographicPoint}}"
                     visible-on-marker="contact"
                     ng-repeat="ev in events"
                     id="info">
            <div ng-non-bindable class="width100p zIndex4" id="contactForm">
                <h4 class="width100p text-center">Contactez-nous</h4>
            </div>
        </info-window>
        <marker ng-repeat="ev in events"
                visible="true"
                id="contact"
                on-click="showInfoWindow(event, 'info')"
                position="{{ev.addresses[0].geographicPoint}}" icon="../assets/img/marker.png">
        </marker>
    </map>
    <!--<map zoom="12"
         ng-if="map"
         center="[{{mapCenter}}]"
         scrollwheel="false"
         navigationControl="false"
         mapTypeControl="false"
         scaleControl="false"
         style="height: 100%!important;"
         class=" right left absolute zIndex1">
        <info-window id="info" position="{{events[1].addresses[0].geographicPoint}}" visible-on-marker="contact">
            <div ng-non-bindable class="width100p zIndex4" id="contactForm">
                <h4 class="width100p text-center">Contactez-nous</h4>
                <div class="column">
                    <h6 style="cursor: pointer; color: #008CBA;">Nous ecrire</h6>
                    <form ng-show="open" name="contactform" ng-submit="submit(contactform)" class="height250">
                        <input type="email" ng-model="formData.inputEmail" id="inputEmail" name="inputEmail" placeholder="Email" required>
                        <textarea ng-model="formData.inputMessage" id="inputMessage" class="fade" ng-minlength="10" required></textarea>
                        <button type="submit" ng-click="submit()" class="btn btn-default btncontact" ng-disabled="submitButtonDisabled">Envoyer</button>
                    </form>
                </div>
                <div class="column">
                    <h6 class="float-left">Tel : </h6> <p class="float-left">04 78 27 73 88</p><br><br>
                </div>
                <div class="width100p">
                    <h6 class="text-center width100p">Adresse</h6> <p class="width100p text-center">11 place St Paul, 69005 Lyon</p>
                </div>
            </div>
        </info-window>
        <marker id="contact" on-click="showInfoWindow(event, 'info')" position="{{events[1].addresses[0].geographicPoint}}" icon="../assets/img/marker.png">
        </marker>
    </map>-->
</div>
