<div class="parallax-background">
    <img src="{{place.images[0].path}}" alt="{{place.name}}" >
</div>
<div class="parallax-content">
    <div class="headerprofil">
        <b>{{place.name}}</b>
        <div class="large-12" data-ng-bind-html="place.description"></div>
        <a href="#" class="btn btn-warning btn_event"> + Suivre</a>
        <a href="#" class="btn btn-warning btn_event">Itineraire</a>
        <a href="{{place.webSite}}" class="row-fluid left">{{place.webSite}}</a>
    </div>
    <ul id="events_contener" class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
        <li ng-show="$root.activEvent && events.length > 0" class="min_contener data-ng-event margin0" data-ng-repeat="event in events "></li>
    </ul>
</div>