<div class="parallax-background" style="background: #ffffff!important;">
    <img class="width100p" src="{{ organizer.imagePath }}" ng-if="organizer.imagePath != undefined"/>
    <div style="height: 100%;" ng-if="organizer.imagePath == undefined">
        <div class="column large-12 zIndex1 absolute" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)" ng-if="map">
            <div style="font-size: 12px;" class="column large-5">
                {{event.addresses[0].street}}<br/>
                {{event.addresses[0].zip}}
                {{event.addresses[0].city}}
            </div>
            <div class="column large-7">
                <a class=" mapControls" ng-click="moreZoom()"><i class="fi-plus"></i></a>
                <a class=" mapControls" ng-click="lessZoom()"><i class="fi-minus"></i></a>
                <a class=" mapControls" ng-click="getItineraire(); selectTravel = !selectTravel">
                    <i class="fi-map"></i>
                </a>
                <a>
                    {{directionInfos.routes[0].legs[0].distance.text}}
                    {{directionInfos.routes[0].legs[0].duration.text}}
                </a>
                <span ng-if="selectTravel" class="width100p float-left ">
                    <a class=" mapControls" ng-class="{'active': $parent.travelMode == 'WALKING'}"
                       ng-click="changeTravelMode('WALKING')">
                        Walking
                    </a>
                    <a class=" mapControls" ng-class="{'active': $parent.travelMode == 'BICYCLING'}"
                       ng-click="changeTravelMode('BICYCLING')">
                        Bicycle
                    </a>
                    <!--<a class="button mapControls" ng-class="{'active': $parent.travelMode == 'TRANSIT'}"
                       ng-click="changeTravelMode('TRANSIT')">
                        Transit
                    </a>-->
                    <a class=" mapControls" ng-class="{'active': $parent.travelMode == 'DRIVING'}"
                       ng-click="changeTravelMode('DRIVING')">
                        Drive
                    </a>
                </span>
            </div>
        </div>
        <map ng-if="map"
             zoom="{{zoom}}"
             center="[{{organizer.geographicPoint}}]"
             scrollwheel="false"
             navigationControl="false"
             disable-default-u-i="true"
             mapTypeControl="false"
             scaleControl="false"
             styles="[
                 {
                     stylers:[
                         {hue:'#00654C'},
                         {visibility:'simplified'},
                         {gamma:0.5},
                         {weight:0.5}
                     ]
                 },
                 {
                    elementType:'labels',
                    stylers:[
                        {visibility:'off'}
                    ]
                },
                {featureType:'water',
                    stylers:[
                        {color:'#008CBA'}
                    ]
                }
            ]"
             style="height: 100%;"
             class="width100p">
            <directions
                    draggable="true"
                    panel="directions-panel"
                    travel-mode="{{travelMode}}"
                    origin="{{start}}"
                    destination="{{organizer.geographicPoint}}">
            </directions>
            <marker visible="true" position="{{organizer.geographicPoint}}" >
            </marker>
            <transit-layer></transit-layer>
        </map>
    </div>
</div>
<div class="parallax-content column paddingLeft0 paddingRight0" style="background: #ffffff">
    <div class="columns large-12">
        <h2 id="eventTitle">{{organizer.name}}</h2>
    </div>
    <div class="column large-12">
        <div ng-if="organizer.description.length > 0" ng-init="limitDesc = '120px';"
             class="column large-12 float-left padding0" >
            <div data-ng-bind-html="organizer.description" style="height: {{limitDesc}}; overflow: hidden;">
            </div>
            <div class="column large-12">
                <div class="img-circularPlayer float-none marginAuto marginTop20 relative"
                     style="background: rgba(0, 140, 186, 0.54); height: 50px; width: 50px"
                     ng-if="organizer.description.length > 300 && limitDesc == '120px'">
                    <i class="pauseInImg ng-scope fa fa-chevron-down pointer"
                       style="font-size: 50px;"
                       ng-click="$parent.limitDesc = 'auto'"></i>
                </div>
                <div class="img-circularPlayer float-none marginAuto marginTop20 relative"
                     style="background: rgba(0, 140, 186, 0.54); height: 50px; width: 50px"
                     ng-if="limitDesc == 'auto'">
                    <i class="pauseInImg ng-scope fa fa-chevron-up pointer"
                       style="font-size: 50px;"
                       ng-click="$parent.limitDesc = '120px'"></i>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="organizer.imagePath != undefined && map == true"
         style="height: 300px;" class="column large-12 marginBottom20">
        <div class="column large-12 zIndex1 absolute">
            <div style="font-size: 12px;" class="column large-5">
                <h2>{{organizer.name}}</h2>
                {{organizer.addresses[0].street}}<br/>
                {{organizer.addresses[0].zip}}
                {{organizer.addresses[0].city}}
            </div>
            <div class="column large-7">
                <a class=" mapControls" ng-click="moreZoom()"><i class="fi-plus"></i></a>
                <a class=" mapControls" ng-click="lessZoom()"><i class="fi-minus"></i></a>
                <a class=" mapControls" ng-click="getItineraire(); selectTravel = !selectTravel">
                    <i class="fi-map"></i>
                </a>
                <a>
                    {{directionInfos.routes[0].legs[0].distance.text}}
                    {{directionInfos.routes[0].legs[0].duration.text}}
                </a>
            <span ng-if="selectTravel" class="width100p float-left ">
                {{$root.infoDirection}}
                <a class=" mapControls" ng-class="{'active': $parent.travelMode == 'WALKING'}"
                   ng-click="changeTravelMode('WALKING')">
                    Walking
                </a>
                <a class=" mapControls" ng-class="{'active': $parent.travelMode == 'BICYCLING'}"
                   ng-click="changeTravelMode('BICYCLING')">
                    Bicycle
                </a>
                <!--<a class="button mapControls" ng-class="{'active': $parent.travelMode == 'TRANSIT'}"
                   ng-click="changeTravelMode('TRANSIT')">
                    Transit
                </a>-->
                <a class=" mapControls" ng-class="{'active': $parent.travelMode == 'DRIVING'}"
                   ng-click="changeTravelMode('DRIVING')">
                    Drive
                </a>
            </span>
            </div>
        </div>
        <map zoom="{{zoom}}"
             center="[{{organizer.geographicPoint}}]"
             scrollwheel="false"
             navigationControl="false"
             disable-default-u-i="true"
             mapTypeControl="false"
             scaleControl="false"
             styles="[
             {
                 stylers:[
                     {hue:'#00654C'},
                     {visibility:'simplified'},
                     {gamma:0.5},
                     {weight:0.5}
                 ]
             },
             {
                elementType:'labels',
                stylers:[
                    {visibility:'off'}
                ]
            },
            {featureType:'water',
                stylers:[
                    {color:'#008CBA'}
                ]
            }
        ]"
             style="height: 100%; min-height: 300px;"
             class="width100p">
            <directions
                    draggable="true"
                    panel="directions-panel"
                    travel-mode="{{travelMode}}"
                    origin="{{start}}"
                    destination="{{organizer.geographicPoint}}">
            </directions>
            <marker visible="true" position="{{organizer.geographicPoint}}" >
            </marker>
            <transit-layer></transit-layer>
        </map>
    </div>
    <div class="column large-4 medium-6 float-left margin0 data-ng-event"
         data-ng-repeat="event in orgaEvents">
    </div>
</div>


