<div class="zIndex1 generalControlsContener" id="generalControlsContener" ng-if="$root.window !== 'small'">
    <li ng-if="$root.path !== 'iframe'"
        class="generalControls float-right controlsArrow"
        ng-class="{'hidden': hide, 'show': !hide}"
        data-ng-click="$parent.hide = !$parent.hide">
        <a><i class="fa" ng-class="{'fa-chevron-right': !hide, 'fa-chevron-left': hide}"></i></a>
    </li>
    <ul class="float-right " ng-class="{'hideControls': hide, 'showControls': !hide}">
        <li ng-if="$root.path != 'iframe' && $root.path != 'home'"
            class="generalControls float-right marginBottom10" >
            <b><a href="#/" class="fi-claude width100p"></a></b>
        </li>
        <li ng-if="$root.path !== 'iframe'" class="generalControls float-right"
            data-ng-controller="toolsCtrl" ng-click="open()">
            <a><i class="fa fa-th"></i></a>
        </li>
        <li ng-if="$root.path !== 'home' && $root.path !== 'search' && $root.path != 'iframe'" class="generalControls float-right">
            <a href="#/search"><i class="fa fa-search"></i></a>
        </li>
        <li ng-if="$root.connected === false" ng-controller="connectCtrl" class="generalControls float-right">
            <a ng-click="authenticate('facebook')">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <!--<li ng-controller="controlsCtrl" class="generalControls float-right" ng-if="$root.path != 'iframe'">-->
            <!--<a ng-click="addAllPlaces()"><i class="fi-plus"></i></a>-->
        <!--</li>-->
    </ul>
</div>
<div ng-if="$root.window === 'small' && $root.path !== 'home' && $root.path !== 'iframe'" class="fixed">
    <a class="button column small-4 margin0 float-left" href="#/"><i class="fi-map"></i></a>
    <a class="button column small-4 margin0 float-left" href="#/search"><i class="fi-magnifying-glass"></i></a>
    <a ng-if="$root.path !== 'iframe'" class="button column small-4 margin0 float-left"
       data-ng-controller="toolsCtrl" ng-click="open()">
        <i class="fi-thumbnails"></i>
    </a>
</div>