
canvas {left:0;}
.md-header-items > md-tab {width: 49.99%!important; margin: 0!important;}
.md-paginator {display:none!important;}
.md-header-items {width: 100%!important;}
md-tabs > .md-header { background: #2DAAE1!important;}
md-tabs-ink-bar {background: #a0d3e8!important;}
artist-min, artist-facebook-min {
  overflow: hidden;
}

.arTrack {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  height:70px;
}