<div class="parallax-background">
    <img class="width100p" ng-src="{{ artist.imagePath }}" on-error-src="assets/images/caroussel1.png"/>
</div>
<div class="parallax-content">
<div class="columns large-12">
    <a class="float-right padding0 column medium-2 followButton">
    </a>
    <h2 id="eventTitle" class="marginTop0 float-left">
        {{artist.name}}
    </h2>
    <websites></websites>
</div>
<div class="column large-12">
    <div class="column large-12 float-left marginBottom10"
         ng-if="artist.description.length > 0"
         style="background-color: #e7e7e7">
        <h2 class="float-left"
            style="line-height: 50px;
                  margin: 5px;
                  color: rgb(105, 181, 205);
                ">Présentation
        </h2>
        <div class="img-circularPlayer float-right"
             style="background: rgba(0, 140, 186, 0.54); height: 50px; width: 50px">
            <i class="pauseInImg ng-scope fa fa-chevron-down pointer"
               style="font-size: 50px;"
               ng-if="showDesc == false"
               ng-click="$parent.showDesc = true"></i>
            <i class="pauseInImg ng-scope fa fa-chevron-up pointer"
               style="font-size: 50px;"
               ng-if="showDesc == true"
               ng-click="$parent.showDesc = false"></i>
        </div>
        <div ng-if="showDesc == true" class="float-left width100p" data-ng-bind-html="artist.description">
        </div>
    </div>
</div>
<md-content class="column">
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
        <md-tab label="Evenements">
            <md-content>
                <div id="events_contener"
                    class="descriptionContent width100p float-left marginTop10">
                    <event-min class="min_contener fade margin0 column large-4 medium-6 float-left"
                         data-ng-repeat="event in artist.events"
                         ng-class="{'padding0': $root.window == 'small'}"></event-min>
                    <h3 ng-show="artist.events.length == 0 || !artist.events">Pas d'événements pour cet artisite pour le moments</h3>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Musique">
            <md-content>
                <input class="column float-left height50 large-12"
                       ng-if="tracks.length > 0 || trackTitle.length > 0"
                       ng-model="$parent.trackTitle" ng-change="filterTracks(trackTitle)"
                       placeholder="filtrer les morceaux"/>
                <div class="float-left column large-12 padding0">
                    <a class="button column float-left padding0"
                       style="min-height: 40px; line-height: 40px;"
                       ng-if="tracksFiltered.length > 0"
                       ng-class="{'small-6': $root.playlist.tracks.length == 0,
                           'small-4': $root.playlist.tracks.length > 0}">
                        <i class="fi-play padding0"
                           style="min-height: 40px; line-height: 40px;"
                           ng-click="playTop()">
                            <b ng-show="selectedTop == 0">Tout jouer ({{artist.tracks.length}} morceaux)</b>
                            <b ng-show="selectedTop > 0">Jouer le top {{selectedTop}}</b>
                        </i>
                        <b class="padding0"
                                style="border-left: 1px rgba(0, 0, 0, 0.53)">
                            <i class="fa pointer"
                               ng-click="$parent.showTop = !$parent.showTop"
                               ng-show="numberOfTop.length > 0"
                               ng-class="{'fa-chevron-down': !showTop, 'fa-chevron-up': showTop}">
                            </i>
                        </b>
                    </a>
                    <ul class="absolute primCol column marginTop40 zIndex5"
                        ng-class="{'small-6 large-3 large-offset-3': $root.playlist.tracks.length == 0,
                           'small-4 large-3 large-offset-1': $root.playlist.tracks.length > 0}"
                        ng-if="showTop">
                        <b  ng-if="selectedTop > 0"
                            class="column pointer"
                            ng-click="selectTop(0); playTop(); $parent.$parent.showTop = false">
                            {{artist.tracks.length}} moceaux
                        </b>
                        <b ng-repeat="top in numberOfTop track by $index"
                           class="column pointer"
                           ng-click="selectTop(($index+1)*10); playTop(); $parent.$parent.showTop = false">Top {{($index+1)*10}}</b>
                    </ul>
                    <a class="button column float-left padding0 small-4"
                       style="min-height: 40px; line-height: 40px;"
                       ng-if="tracksFiltered.length > 0 && $root.playlist.tracks.length > 0"
                       ng-class="{'padding0': $root.window == 'small'}"
                       ng-click="$root.addToPlaylist(artist.tracks, artist)">
                        <i class="fi-plus"></i> <b>Tout ajouter</b>
                    </a>
                    <a class="button column float-left padding0"
                       style="min-height: 40px; line-height: 40px;"
                       ng-class="{'padding0': $root.window == 'small',
                           'small-6': $root.playlist.tracks.length == 0,
                           'small-4': $root.playlist.tracks.length > 0}"
                       ng-if="tracksFiltered.length > 0"
                       ng-click="$parent.$parent.suggest = !$parent.$parent.suggest">
                        <b>Suggérer</b>
                    </a>
                    <form ng-if="$parent.suggest"
                          ng-submit="suggestQuery($parent.trackTitle, artist.name, artist.facebookUrl)"
                          class="column large-12">
                        <b class="column medium-7">
                            Faîtes découvrir de nouveaux morceaux à Claude !
                        </b>
                        <input type="submit" class="button column small-3 medium-2 float-right"/>
                        <input ng-model="$parent.trackTitle"
                               ng-change="filterTracks(trackTitle)"
                               placeholder="Titre du morceau à ajouter"
                                class="column medium-3 float-right small-9"
                                style="height: 3.2rem">
                    </form>
                </div>
                <div layout="row" layout-sm="column" layout-align="space-around" class="column" ng-if="$root.loadingTracks">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div ng-if="artist.tracks.length == 0 && trackTitle.length == 0 && !$root.loadingTracks"
                     class="column large-12 text-center">
                    <b>Désolé, Claude ne connait pour le moment aucun morceau pour cet artist.
                        <br/>Vous pouvez ici lui en suggerer</b><br/>
                    <form ng-submit="suggestQuery(trackTitleSuggest, artist.name, artist.facebookUrl)">
                        <input placeholder="Titre du morceau à ajouter" ng-model="trackTitleSuggest">
                        <input class="button" type="submit" />
                    </form>
                </div>
                <div ng-if="tracksFiltered.length == 0 && trackTitle.length > 0"
                     class="column large-12 text-center">
                    <b>Désolé, Claude ne connait pas "{{trackTitle}}" pour cet artist. <br/>
                        Demendez-lui d'aller la chercher pour vous en cliquant sur le boutton "suggérer"</b><br/>
                    <a class="button" ng-click="suggestQuery(trackTitle, artist.name, artist.facebookUrl)">
                        Suggérer la track {{trackTitle}}
                    </a>
                </div>
                <div ng-repeat="track in tracksFiltered = (artist.tracks | limitTo: trackLimit) track by $index"
                     class="column fade paddingBottom10 medium-6 large-4 float-left"
                     ng-class="{'paddingRight0 paddingLeft0': $root.window == 'small'}">
                    <ng-track></ng-track>
                </div>
                <div class="column large-12 padding0">
                    <button ng-if="trackLimit < artist.tracks.length"
                            class="float-left column large-3 medium-4 small-6"
                            ng-click="$parent.trackLimit = $parent.trackLimit + 12">Voir plus</button>
                    <button ng-if="trackLimit > 12 && trackTitle.length <= 1"
                            class="float-left column large-3 medium-4 small-6"
                            ng-click="$parent.trackLimit = 12">Voir moins</button>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
</div>