
canvas {left:0;}
.md-header-items > md-tab {width: 49.9%!important; margin: 0!important;}
.md-paginator {display:none!important;}
.md-header-items {width: 100%!important;}
md-tabs > .md-header { background: #2DAAE1!important;}
md-tabs-ink-bar {background: #a0d3e8!important;}