<div ng-class="{hiddenVideo : !showVideo}" class="width100p white" style="height: 220px; overflow: hidden">
    <div class="width100p" style="background: #ffffff">
        <i ng-click="$parent.showVideo = false" ng-if="$root.window != 'small' && $root.window != 'medium'"
           class="fi-x pointer"></i>
        <i ng-click="$parent.showVideo = false; insertVideo()"
           ng-if="$root.window == 'small' || $root.window == 'medium'"
           class="fi-x pointer"></i>
    </div>
    <div id="youtubePlayer">
    </div>
    <video id="minVideoPlayer" class="marginAuto width100p" controls="controls" style="height: 200px"></video>
</div>
<div ng-if="error.length > 0" class="lecteurError animated fadeIn">
    <h3>{{error}}</h3>
</div>
<div ng-show="showInfo" class="lecteurError animated fadeIn">
    <b>
        <a class="textColorWhite" href="#/events/{{trackActive.nextShow.eventId}}">
            Bientôt en concert
        </a>
    </b>
</div>
<div class="zIndex1" ng-class="{'column large-12 padding0': $root.window != 'small' && $root.window != 'medium'}">
    <!--<a class="close float-right">X</a>-->
    <div class="column primCol padding0" ng-class="{'large-4': showLecteur, 'large-2': !showLecteur}">
        <i ng-click="showLecteur = !showLecteur" class="float-left lecteurControls"
           ng-class="{'fa fa-chevron-down': showLecteur == true,
           'fa fa-chevron-up': showLecteur == false,
           'small-3': ($root.window == 'small' || $root.window == 'medium') && showLecteur == false,
           'small-2': ($root.window == 'small' || $root.window == 'medium') && showLecteur == true
           }"></i>
        <i ng-click="remPlaylist()"
           ng-class="{'small-2': ($root.window == 'small' || $root.window == 'medium') && showLecteur == true}"
           ng-show="showLecteur" class="fa fa-trash-o float-left  lecteurControls"></i>
        <i ng-click="savePlaylist()" ng-show="showLecteur"
           class="fa fa-floppy-o lecteurControls float-left"
           ng-class="{'small-2': ($root.window == 'small' || $root.window == 'medium') && showLecteur == true}"></i>
        <i class="fa float-left lecteurControls"
           ng-class="{'fa-volume-down': $parent.levelVol <= 50 && $parent.levelVol > 0 ,
           'fa-volume-up': $parent.levelVol > 50, 'fa-volume-off': $parent.levelVol == 0}"
           ng-show="showLecteur"
           ng-if="$root.window != 'small' && $root.window != 'medium'"
           ng-mouseover="$parent.showVol = true"></i>
        <div style="padding-left: 50px; margin-left: 150px;" class="absolute" ng-if="showVol"
             ng-mouseleave="$parent.showVol = false">
            <md-slider  flex ng-change="volume()"
                        ng-model="$parent.levelVol" min="0" max="100"
                        aria-label="volume"
                        id="volume-slider"
                        class="md-primary"
                        style="z-index: 5;
                       margin-top: -14px;
                       width: 130px;
                       background: white;
                       background: rgb(160, 211, 232)!important;
                       height: 34px;"
                    >
            </md-slider>
        </div>
        <i class="fa fa-step-backward lecteurControls float-left"
           ng-class="{'small-3': ($root.window == 'small' || $root.window == 'medium') && showLecteur == false,
           'small-2': ($root.window == 'small' || $root.window == 'medium') && showLecteur == true}"
           ng-click="prevTrack()"></i>
        <i class=" lecteurControls float-left fa"
           ng-class="{'fa-pause': onPlay == true, 'fa-play': onPlay == false,
           'small-3': ($root.window == 'small' || $root.window == 'medium') && showLecteur == false,
           'ng-hide': ($root.window == 'small' || $root.window == 'medium') && showLecteur == true}"
           ng-click="playPause()"></i>
        <i class="fa fa-step-forward lecteurControls float-left" ng-click="nextTrack()"
           ng-class="{'small-3': ($root.window == 'small' || $root.window == 'medium') &&
           showLecteur == false,
           'small-2': ($root.window == 'small' || $root.window == 'medium') && showLecteur == true}"></i>
        <i class="fi-shuffle lecteurControls float-left" ng-show="showLecteur"
           ng-class="{'active': shuffle,
           'small-2': ($root.window == 'small' || $root.window == 'medium') && showLecteur == true}"
           ng-click="shuffle = !shuffle"></i>
    </div>
    <div id="progressBar"
         class="progress primary relative float-left padding0 margin0 column small-8"
         ng-class="{'large-6': showLecteur, 'large-8': !showLecteur}"
         style="overflow: hidden; background: #a0d3e8;">
        <b style="color: #008CBA;font-size: 13px;
margin-left: 5px;" class="absolute">{{trackActive.artist.name}}: {{trackActive.title}}</b>
        <span id="progress" class="meter column padding0 absolute"
              ng-hide="($root.window == 'small' || $root.window == 'medium') && showVideo"
              style="width: 0%; overflow: hidden;">
            <b style="color: #ffffff;white-space: nowrap;overflow: hidden;font-size: 13px;
margin-left: 5px;"
               class="absolute">
                {{trackActive.artist.name}}: {{trackActive.title}}
                <a target="_blank" href="{{track.redirectUrl}}" style="font-size: 27px;"
                   ng-if="track.platform == 's'">
                    <i style="display: block" class="fa fa-soundcloud"></i>
                </a>
            </b>
        </span>
    </div>
    <div class="float-left column large-2 padding0 small-4"
         style="height: 20px; background: #a0d3e8">
        <a target="_blank" href="{{trackActive.redirectUrl}}"
           style="font-size: 20px; height: 20px; padding-left: 5px; color: white"
           class="float-left"
           ng-if="trackActive.platform == 's'">
            <i style="display: block; height:20px; width:35px;" class="fa fa-soundcloud float-left"></i>
        </a>
        <a href="https://youtube.com/watch?v={{trackActive.url}}"
           style="font-size: 20px; height: 20px; padding-left: 5px; color: white "
           ng-if="trackActive.platform == 'y'"
           target="_blank"
           class="float-left">
            <i style="display: block; margin-right: 3px" class="fa fa-youtube float-left"></i>
        </a>
        <i ng-if="trackActive.platform == 'y' && $root.window != 'small' && $root.window != 'medium'"
           ng-click="$parent.showVideo = !$parent.showVideo"
           class="fa fa-video-camera lecteurControls float-left"
           style="background: #a0d3e8"></i>
        <i ng-if="trackActive.platform == 'y' && ($root.window == 'small' || $root.window == 'medium')"
           ng-click="$parent.showVideo = !$parent.showVideo; insertVideo()"
           class="fa fa-video-camera lecteurControls float-left"
           style="background: #a0d3e8"></i>
        <b class="float-left" style="color: #ffffff"
           ng-show="$root.window != 'small' && $root.window != 'medium'" id="currentTime"></b>
    </div>
</div>
<div ng-show="showLecteur" class="width100p float-left white">
    <audio class="width100p ng-hide" id="musicPlayer" style="position: fixed"></audio>
    <div style="height: 100px; overflow: hidden" class="width100p float-left">
        <div class="column small-1 float-left padding0 text-center"
             style="height: 100px; font-size: 100px; line-height: 100px;"
             ng-click="changeIndexToStart(indexToStart -1)"
             ng-show="(indexToStart > 0)">
            <i class="fa fa-angle-left" style="line-height: 100px"></i>
        </div>
        <div class="column small-1 float-right height100p padding0 text-center"
             ng-click="changeIndexToStart(indexToStart +1)"
             style="height: 100px; font-size: 100px; line-height: 100px;"
             ng-show="(playlist.tracks.length > numberToDisplay &&
             indexToStart < playlist.tracks.length - numberToDisplay)"
                >
            <i class="fa fa-angle-right"  style="line-height: 100px"></i>
        </div>
        <div class="column float-left padding0"
             ng-class="{'small-10': indexToStart > 0, 'small-11': indexToStart == 0}">
            <div ng-if="playlist.tracks.length > 0"
                 style="position: relative; max-height: 100px;"
                 class="sortable-row"
                 as-sortable="sortableOptions"
                 ng-model="limitedTracks">
                    <ng-playlist-track
                    style="margin-top: 5px;"
                    ng-class="{onplay : track == trackActive}"
                    class="column large-3 medium-4 small-12 paddingLeft0 fadeTrack trackContener float-left"
                    as-sortable-item
                    ng-repeat="track in limitedTracks">
                    </ng-playlist-track>
            </div>
        </div>
    </div>
    <md-content class="column large-12">
        <md-slider flex ng-model="newIndexToStart"
               ng-show="playlist.tracks.length > numberToDisplay"
               ng-change="changeIndexToStart(newIndexToStart)"
               min="0" max="{{playlist.tracks.length - numberToDisplay}}"
               aria-label="newIndexToStart"
               class="column large-12 padding0">
         </md-slider>
    </md-content>
</div>