<div class="parallax-background">
    <img class="width100p" ng-src="{{ place.imagePath }}" ng-if="place.imagePath != undefined"/>
    <div style="height: 100%;" ng-if="place.imagePath == undefined">
        <div class="column large-12 zIndex1 absolute paddingRight30 map-container">
            <div style="font-size: 12px;" class="column large-5">
                {{place.addresses[0].street}}<br/>
                {{place.addresses[0].zip}}
                {{place.addresses[0].city}}
            </div>
            <map-controls class="column zIndex0"></map-controls>
        </div>
        <stylized-map></stylized-map>
    </div>
</div>
<div class="parallax-content zIndex1">
   <div class="column large-12">
       <a class="float-right padding0 followButton column medium-2">
    </a>
    <h2 class="float-left marginTop0">{{place.name}}
    </h2>
    <websites></websites>
   </div>
    <ng-description class="column large-12"></ng-description>
    <div ng-if="place.imagePath != undefined && map == true"
         style="height: 300px;" class="column large-12 marginBottom20 map-container">
        <div class="column large-12 zIndex1 absolute paddingRight30">
            <div style="font-size: 12px;" class="column large-5">
                {{place.addresses[0].street}}<br/>
                {{place.addresses[0].zip}}
                {{place.addresses[0].city}}
            </div>
            <map-controls></map-controls>
        </div>
        <stylized-map></stylized-map>
    </div>
    <md-content class="column">
        <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
            <md-tab label="Evenements">
                <md-content  class="width100p float-left marginTop10">
                    <event-min class="column large-4 medium-6 float-left fade margin0"
                         data-ng-repeat="event in events | orderBy: 'startTime'">
                    </event-min>
                    <div layout="row"
                         class="column large-12" layout-sm="column" layout-align="space-around"
                         ng-if="loadEvents">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Evenements Passés">
                <md-content class="width100p float-left marginTop10">
                    <event-min class="column large-4 medium-6 float-left fade margin0"
                         data-ng-repeat="event in passedEvents">
                    </event-min>
                    <div layout="row"
                         class="column large-12" layout-sm="column" layout-align="space-around"
                         ng-if="loadEvents">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>