@(connected: Boolean)
@main(title = "Ticketapp") {

<!--<nav id="pages-nav" id="top">
    <ul nav-menu="active" data-ng-controller="scrollCtrl">
	    -->
        <div id="top" class="left column width100p fixed margin0 padding0" data-ng-controller="scrollCtrl" ng-init="$root.connected = @connected">
            <div ng-if="$root.path == 'home' || $root.path == 'search'" ng-show="$root.path == 'search'" id="searchTopBlock" class="ng-hide width100p" ng-class="{'paddingTop50': $root.window == 'small'}">
                <ng-search-bar class="white column large-12 padding0"></ng-search-bar>
            </div>
            <div class="ng-hide fixed top0 width100p height100p" style="background: #ffffff" ng-if="needConnect" ng-show="!$root.connected">
                <h1>Vous devez vous connecter</h1>
                <ng-connect></ng-connect>
                <a class="button" ng-click="$parent.needConnect = false;">Annuler</a>
            </div>
        </div>
    <!--</ul>
</nav>-->
<div id="contener">
    <ng-controls></ng-controls>
    <div data-ng-view class="wrapper-outer row" autoscroll="true" ng-class="{'paddingTop50': $root.window == 'small'}">
    </div>
    <div ng-show="$root.playlist.tracks.length > 0" class="ng-lecture"></div>
</div>
<div ng-if="$root.path != 'iframe'" ng-class="{'ng-hide': $root.window == 'small' && $root.path == 'home'}" class="footer row-fluid"></div>
}