@(connected: Boolean)
@main(title = "Ticketapp") {

<!--<nav id="pages-nav" id="top">
    <ul nav-menu="active" data-ng-controller="scrollCtrl">
	    -->
<header ng-init="$root.connected = @connected"></header>
<div id="contener">
    <ng-controls class="ng-controls"></ng-controls>
    <div data-ng-view
         class="wrapper-outer"
         autoscroll="true"
         ng-class="{'paddingTop50': $root.window == 'small'}">
    </div>
    <div ng-show="$root.playlist.tracks.length > 0" class="ng-player"></div>
</div>
<div ng-if="$root.path != 'iframe'"
     ng-class="{'ng-hide': $root.window == 'small' && $root.path == 'home'}"
     class="footer row-fluid">
</div>
}