@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="../assets/ico/favicon.ico">

    <!-- Le style -->
    <link href="@routes.Assets.at("css/style.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/animate.min.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/foundation.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/normalize.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/colorpicker.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/tools.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/foundation-icons.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/material.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/angular-slider.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("css/font-awesome.css")" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
    </head>
    <body data-ng-app="MonApp">
        @content
    </body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60282251-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="@routes.Assets.at("js/jquery-1.11.0.js")"></script>
    <script src="@routes.Assets.at("js/youtube_mp4.js")"></script>
    <script src="@routes.Assets.at("js/youtubeapi.js")">></script>
    <script src="@routes.Assets.at("js/qrcode.js")"></script>
    <script src="@routes.Assets.at("js/swfobject.js")"></script>
    <script src="@routes.Assets.at("js/hammerjs/hammer.js")"></script>
    <script src="@routes.Assets.at("js/oboe-browser.min.js")"></script>
<script src="@routes.Assets.at("js/foundationCustom.js")"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.js"></script>
    <script src="https://rawgithub.com/a5hik/ng-sortable/master/dist/ng-sortable.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/testapp/scripts/markers.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/testapp/scripts/markerclusterer.js"></script>
    <script src="@routes.Assets.at("js/angular-slider.js")"></script>
    <script src="@routes.Assets.at("js/websocket.js")"></script>
    <script src="@routes.Assets.at("js/angular-hammer.js")"></script>
    <script src="@routes.Assets.at("js/reorder.js")"></script>
    <script src="@routes.Assets.at("js/mm-foundation.min.js")"></script>
    <script src="@routes.Assets.at("js/modules/foundation-colorpicker-module.js")"></script>
    <script src="@routes.Assets.at("js/modules/angularAnalytics.js")"></script>
    <script src="@routes.Assets.at("js/modules/ng-map.js")"></script>
    <script src="@routes.Assets.at("js/modules/gmap.js")"></script>
    <script src="@routes.Assets.at("js/modules/directions.js")"></script>
    <script src="@routes.Assets.at("js/modules/angular-oboe.js")"></script>
    <script src="@routes.Assets.at("js/app.js")"></script>
    <script src="@routes.Assets.at("js/services/artiste.js")"></script>
    <script src="@routes.Assets.at("js/services/event.js")"></script>
    <script src="@routes.Assets.at("js/services/organizer.js")"></script>
    <script src="@routes.Assets.at("js/services/lieu.js")"></script>
    <script src="@routes.Assets.at("js/services/info.js")"></script>
    <script src="@routes.Assets.at("js/controllers/artistes.js")"></script>
    <script src="@routes.Assets.at("js/controllers/eventView.js")"></script>
    <script src="@routes.Assets.at("js/controllers/users.js")"></script>
    <script src="@routes.Assets.at("js/controllers/lieu.js")"></script>
    <script src="@routes.Assets.at("js/controllers/issuesCtrl.js")"></script>
    <script src="@routes.Assets.at("js/directives/wysiwyg.js")"></script>
    <script src="@routes.Assets.at("js/controllers/scrollCtrl.js")"></script>
    <script src="@routes.Assets.at("js/controllers/carousel.js")"></script>
    <script src="@routes.Assets.at("js/controllers/tools.js")"></script>
    <script src="@routes.Assets.at("js/controllers/CreateEvent.js")"></script>
    <script src="@routes.Assets.at("js/controllers/lecteur.js")"></script>
    <script src="@routes.Assets.at("js/controllers/searchCTRL.js")"></script>
    <script src="@routes.Assets.at("js/controllers/ticketCtrl.js")"></script>
    <script src="@routes.Assets.at("js/controllers/controlsCtrl.js")"></script>
    <script src="@routes.Assets.at("js/controllers/iframeCtrl.js")"></script>
    <script src="@routes.Assets.at("js/controllers/phoneHomeCtrl.js")"></script>
    <script src="@routes.Assets.at("js/controllers/connectCtrl.js")"></script>
    <script src="@routes.Assets.at("js/controllers/footer.js")"></script>
    <script src="@routes.Assets.at("js/controllers/contact.js")"></script>
    <script src="@routes.Assets.at("js/directives/directives.js")"></script>
</html>
