<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Claude</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("favicon.ico")" />
    </head>
    <body ng-app="app">
        <section layout="row" flex class=" height100p" data-ng-controller="adminController">
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Admin</h1>
                </md-toolbar>
                <md-content layout-padding >
                <md-list>
                    <md-list-item ng-click="template = 'assets/templates/admin/adminEvents.html'">
                        Events management
                    </md-list-item>
                    <md-list-item ng-click="template = 'assets/templates/admin/adminArtists.html'">
                        Artists management
                    </md-list-item>
                    <md-list-item ng-click="template = 'assets/templates/admin/adminOrganizers.html'">
                        Organizers management
                    </md-list-item>
                    <md-list-item ng-click="template = 'assets/templates/admin/adminPlaces.html'">
                        Places management
                    </md-list-item>
                    <md-list-item ng-click="controller.findSalableEvents(); template = 'assets/templates/admin/salableEvents.html'">
                        Show salable events
                    </md-list-item>
                    <md-list-item ng-click="controller.findTicketsWithStatus(); template = 'assets/templates/admin/tickets.html'">
                        Show tickets
                    </md-list-item>
                    <md-list-item ng-click="controller.findPendingTickets(); template = 'assets/templates/admin/pendingTickets.html'">
                        Show pending tickets
                    </md-list-item>
                    <md-list-item ng-click="controller.findBoughtBills(); template = 'assets/templates/admin/boughtBills.html'">
                        Show bought bills
                    </md-list-item>
                    <md-list-item ng-click="controller.findSoldBills(); template = 'assets/templates/admin/soldBills.html'">
                        Show sold bills
                    </md-list-item>
                    <md-list-item ng-click="template = 'assets/templates/admin/createSalableEvent.html'">
                        Add salable event
                    </md-list-item>
                    <md-list-item ng-click="template = 'assets/templates/admin/proposeTicket.html'">
                        Propose ticket
                    </md-list-item>
                    <md-list-item ng-click="template = 'assets/templates/admin/blockTicketForUser.html'">
                        block Ticket For User
                    </md-list-item>
                    <md-list-item ng-click="template = 'assets/templates/admin/createTicketToSale.html'">
                        add Ticket To Sale
                    </md-list-item>
                    <md-list-item ng-click="template = 'assets/templates/admin/createTariff.html'">
                        add Tariff
                    </md-list-item>
                    <md-list-item ng-click="template = 'assets/templates/tracking/trackingView.html'">
                        Tracking
                    </md-list-item>
                </md-list>
                </md-content>
            </md-sidenav>

            <md-content flex ng-include="template" class="column large-12">

            </md-content>
        </section>
        @scripts()
        @playscalajs.html.scripts("client")

    </body>
</html>